{% extends "base.html" %}

{% block title %}
<title>
    Account List 
</title>
<!-- Datatable CSS-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<!-- Datatable jQuery-->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
{% load static from staticfiles %}
{% endblock %}

{% block content%}
	<h2>Account List</h2>
  <h1></h1>
  <a href="{% url 'accounts:download_accounts_excel' %}"><button type="button" class='download btn btn-primary btn-xs'><i class="fa fa-download"></i> Download List</button></a>
  <h1></h1>
  <div class="table-responsive">
		<table class="table table-striped table-bordered table-hover" id="account">
			<thead class="thead-inverse header-background">
    			<tr>
      			<th class="text-center">Account Key</th>
            <th class="text-center">Account Name</th>
            <th class="text-center">Account Remarks</th>
      			<th class="text-center">Account</th>
      		</tr>
  			</thead>
  			<tbody>
  				{% for account in accounts %}
            <tr align="center">
      			  <td>{{account.key}}</td>
              <td><a href="{{account.get_absolute_url}}">{{account.name}}</a></td>
              <td>{{account.remarks}}</td>
      				<td>{{account.account_type}}</td>
              </tr>
          {% endfor %}
    		</tbody>
    	</table> 
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#account').DataTable({
      "searching": false
    });
  });
</script>
	
{% endblock %}




