{% extends "base.html" %}

{% load crispy_forms_tags %}


{%block title%}
<title>Add New Account</title>

{% load static from staticfiles %}

<script src="{% static 'accounts/new_account.js' %}"></script>

{% endblock %} 

{% block content%}
	

<h3>Add New Account</h3>

<div class="col-xs-12 col-md-6 form-group new_class row">
<form>
	<div class="alert alert-danger" role="alert" hidden='true'>
		
	</div>
	<div class="form-group narrate">
		<label>Items marked * cannot be left blank</label>
	</div>
	<div class="form-group ledgergroupdiv">
		<label for="classgroup" class="control-label">Ledger Group *</label>
		<select class="form-control select ledgergroup">
    		<option disabled selected hidden style='display: none' value>Select Ledger Group</option>
				{% for group in groups %}
  					<option data-id="{{group.id}}">{{group.name}}</option>
				{% endfor %}
  		</select>
	</div>
	
	<div class="form-group accountnamediv">
		<label for="classname" class="control-label">Account Name *</label>
			<input type="text" required="" class="form-control accountname" maxlength="100" aria-required="true">
	</div>
	
	<div class="form-group remarksdiv">
		<label for="classname" class="control-label">Remarks/Narration for account</label>
			<input type="text" required="" class="form-control remarks" aria-required="true">
	</div>
	
	<div class="form-group keydiv" title="This is a short name/key/code for the account">
		<label for="roomnumber" class="control-label room">Key/Code *</label>
		<input type="text" class="form-control key" maxlength="10" placeholder="This is a short name/key/code for the account">
	</div>
	
	<div class="form-group accounttypediv">
		<label class="control-label room">Select Account Type *</label>
		<select class="form-control select accounttype">
    		<option disabled selected hidden style='display: none' value>Select Account Type</option>
			<option data-id="Current Assets">Current Assets</option>
			<option data-id="Long Term Assets">Long Term Assets</option>
			<option data-id="Current Liabilities">Current Liabilities</option>
			<option data-id="Long Term Liabilities">Long Term Liabilities</option>
			<option data-id="Equity">Equity/Capital</option>
			<option data-id="Revenue">Revenue</option>
			<option data-id="Indirect Revenue">Indirect Revenue</option>
			<option data-id="Direct Expense">Direct Expense</option>
			<option data-id="Indirect Expense">Indirect Expense</option>
		</select>
	</div>

	<div class="form-group subaccounttypediv" title="This is an optional account required to be filled only of the new account is one of the following accounts. This can be left blank.">
		<label class="control-label room">Select Sub Account Type (Leave blank if not applicable)</label>
		<select class="form-control select subaccounttype" disabled="true">
    		<option disabled selected hidden style='display: none' value>Select Sub Account Type (Do not fill if not applicable)</option>
    		<option data-id="None">Not Applicable</option>
			<option data-id="PFEEL">PF Employee - Liability Account</option>
			<option data-id="PFERL">PF Employer - Liability Account</option>
			<option data-id="PSERL">EPS Employer - Liability Account</option>
			<option data-id="PFADL">PF Admin Charges - Liability Account</option>
			<option data-id="ESRE">Employer - Statutory Expense Account</option>
			<option data-id="ESEEL">ESI Employee - Liability Account</option>
			<option data-id="ESERL">ESI Employer - Liability Account</option>
			<option data-id="EDLIL">EDLI Employer - Liability Account</option>
			<option data-id="EDACL">EDLI Admin Charges - Liability Account</option>
			<!--<option data-id="ESERE">ESI Employer - Expense Account</option>-->
		</select>
	</div>
	<p class="has-error subaccount-p" hidden='true'>A sub account liability/expense must have account type has liability/expense respectively </p>

	<div>
		<h4>Opening Balance is specific for accounting period.</h4>
	</div>
	<div class="form-group accountingperioddiv">
		<label for="classgroup" class="control-label">Accounting Period *</label>
		<select class="form-control select accountingperiod">
    		<option disabled selected hidden style='display: none' value>Select Accounting Period</option>
				{% for period in periods %}
  					<option data-id="{{period.id}}">{{period.start}} - {{period.end}}</option>
				{% endfor %}
  		</select>
	</div>
	
	<div class="form-group balancetypediv">
		<label class="control-label" title = "Assets & Expense Accounts Have Debit Balance. Liability, Equity & Revenue Have Credit Balance">Opening Balance Type</label>
		<select class="form-control select balancetype" title = "Assets & Expense Accounts Have Debit Balance. Liability, Equity & Revenue Have Credit Balance">
			<option disabled selected hidden style='display: none' value>Select Balance Type</option>
			<option data-id="Credit" value="Credit balance">Credit balance</option>
			<option data-id="Debit" value="Debit balance">Debit balance</option>
		</select>
	</div>
	
	<div class="form-group balancediv" title="Enter the opening balance for the selected accounting period. Default is zero.">
		<label for="year" class="control-label">Opening Balance (Only postive number shall be taken as input)</label>
		<input type="number" min="0" step="0.01" value="0" class="form-control balance">
	</div>
	
	<button type="button" class="btn btn-primary btn-xs submit" data-toggle="confirmation">Submit</button>

</form>
</div>
<div class="col-xs-12 col-md-1 form-group new_class row">
</div>
<div class="col-xs-12 col-md-5 offset-md-1 form-group new_class row">
	<h3>List of existing accounts</h3>
	{% if accounts %}
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover" id="master_table">
			<thead class="thead-inverse header-background bg-info">
				<tr>
	              	<th class="text-center">Account Name</th>
	              	<th class="text-center">Account Key</th>
	                <!-- {# <th class="text-center">Current Debit Value</th>
	                <th class="text-center">Current Credit Value</th> #} -->
				</tr>
			</thead>
			<tbody>
				{% for account in accounts %}
				<tr align="center">
	              <td>{{account.name}}</td>
	              <td>{{account.key}}</td>
	              <!-- {# <td>{{account.current_debit}}</td>
	              <td>{{account.current_credit}}</td> #} -->
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>You don't have any account registered. Once you have accounts, its urrent balance would be visible here.</p>
		{% endif %}
	</div>
</div>		

<script>
	csrf_token='{{csrf_token}}';
	redirect_url= "{% url 'accounts:account_list' %}" //I'm yet to create some landing details. Those need to be created.
</script>
{% endblock %}

























