{% extends "base.html" %}

{% block title %}
<title>
    Debit Note List 
</title>
<!-- Datatable CSS-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<!-- Datatable jQuery-->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content%}
	<h2>Debit Note List</h2>
  <h1></h1>
	
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover" id="inventory">
			<thead class="thead-inverse header-background">
    			<tr>
      			<th class="text-center">Debit Note ID</th>
            <th class="text-center">Vendor</th>
            <th class="text-center">Warehouse</th>
            <th class="text-center">Created On</th>
      			<th class="text-center">Debit Note Value</th>
      			
    			</tr>
  			</thead>
  			<tbody>
          {% for item in items %}
    			<tr align="center">
            <!-- Invoice list and invoice due, both have the same template, hence this if-else block to regulate
                 the link -->
            <td><a href="{{item.get_absolute_url}}">{{item.note_id}}</a></td>
            <td>{{item.vendor_key.name}}</td>
            <td>{{item.warehouse.address}}</td>
            <td>{{item.date|date:'D, d-m-Y'}}</td>
      			<td>{{item.total}}</td>
      		</tr>
	    		{% endfor %}
    		</tbody>
    	</table> 
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#inventory').DataTable({
      "searching": false
    });
  });
</script>
	
{% endblock %}




