amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
Babel==2.4.0
billiard==3.3.0.23
celery==3.1.24
certifi==2017.4.17
chardet==3.0.3
Django==1.10.5
django-annoying==0.10.3
django-bower==5.2.0
django-crispy-forms==1.6.0
django-debug-panel==0.8.3
django-debug-toolbar==1.5
django-debug-toolbar-request-history==0.0.4
django-excel==0.0.6
django-filter==1.0.1
django-phonenumber-field==1.1.0
django-recaptcha==1.2.1
django-scheduler==0.8.2
djangorestframework==3.5.3
djangorestframework-jwt==1.10.0
et-xmlfile==1.0.1
flower==1.2.0
hashids==1.2.0
html5lib==1.0b10
httplib2==0.10.3
idna==2.5
jdcal==1.3
kombu==3.0.37
nltk==3.2.2
num2words==0.5.4
openpyxl==2.4.1
packaging==16.8
phonenumbers==7.7.2
phonenumberslite==7.7.2
Pillow==3.4.1
psycopg2==2.6.1
pyexcel==0.4.2
pyexcel-io==0.3.0
pyexcel-webio==0.0.10
pyexcel-xls==0.3.1
pyexcel-xlsx==0.3.0
PyJWT==1.5.0
pyparsing==2.2.0
PyPDF2==1.26.0
python-dateutil==2.6.0
pytz==2016.7
reportlab==3.3.0
requests==2.17.3
six==1.10.0
sqlparse==0.2.2
texttable==0.8.7
urllib3==1.21.1
webencodings==0.5.1
xhtml2pdf==0.2b1
xlrd==1.0.0
XlsxWriter==0.9.3
xlwt==1.2.0
