amqp==1.4.9
celery==3.1.24
Django==1.9.5
django-crispy-forms==1.6.0
django-debug-toolbar==1.5
django-excel==0.0.6
django-phonenumber-field==1.1.0
djangorestframework==3.5.3
et-xmlfile==1.0.1
num2words==0.5.4
openpyxl==2.4.1
phonenumbers==7.7.2
phonenumberslite==7.7.2
Pillow==3.4.1
psycopg2==2.6.1
pyexcel==0.4.2
pyexcel-io==0.3.0
pyexcel-webio==0.0.10
pyexcel-xls==0.3.1
pyexcel-xlsx==0.3.0
python-dateutil==2.6.0
pytz==2016.7
reportlab==3.3.0
xlrd==1.0.0
XlsxWriter==0.9.3
xlwt==1.2.0