body, a {
    color:#034a63;
}

/*input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#a0c0de;
    border:0;
    padding:6px 10px;
    font-size:14px;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}*/


