html,body{
   min-height:100.1%;
}


/* reset */


/* content editable */


*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }

/* heading */
/*
h1 { font: bold 100% sans-serif; text-align: center; text-transform: uppercase; }
*/

/* table */

table { font-size: 80%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 1%; }
th, td { border-width: 0.5px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }

/* page */
/*
html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 2%}
html { background: #999; cursor: default; }
*/

#invoice { font: 16px/1 'Open Sans', sans-serif; overflow: auto; cursor: default; }

#invoice { box-sizing: border-box; margin: 0 auto; padding: 2%;}
#invoice { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }

/* header */


invoiceheader { margin: 0 0 1%; }
invoiceheader:after { clear: both; content: ""; display: table; }

/* article */

invoicearticle, invoicearticle address, code, table.meta, table.inventory { margin: 0 0 5em; }
invoicearticle address{color: #157ab5; font-size: 110%; }
invoicearticle code {color: #157ab5; font-size: 110%; }
invoicearticle:after { clear: both; content: ""; display: table; }
/*article h1 { clip: rect(0 0 0 0); position: absolute; }*/

invoicearticle address { float: left; font-weight: bold; }

/* table meta & balance */

table.meta, table.balance { float: right; width: 40%; }

/* table details for sales invoice */

table.details { float: left; padding-bottom: 5%; }

/*table.meta:after, table.balance:after { clear: both; content: ""; display: table; }*/

/* table meta */

table.meta th { width: 20%; height:1.5em; }
table.meta td { width: 20%; }

/* table items */
/*height in th and td has been added to adjust the height of rows*/

table.inventory { clear: both; width: 100%;}
table.inventory th { font-weight: bold; text-align: center;height: 1.7em; }
table.inventory td { height: 1.6em; }
table.inventory td:nth-child(1) { text-align: center; width: 26%; }
table.inventory td:nth-child(2) { text-align: center; width: 38%; }
table.inventory td:nth-child(3) { text-align: center; width: 12%; }
table.inventory td:nth-child(4) { text-align: center; width: 12%; }
table.inventory td:nth-child(5) { text-align: center; width: 12%; }
table.inventory td:nth-child(6) { text-align: center; width: 26%; }
table.inventory td:nth-child(7) { text-align: center; width: 26%; }
table.inventory td:nth-child(8) { text-align: center; width: 26%; }
table.inventory td:nth-child(9) { text-align: center; width: 26%; }
table.inventory td:nth-child(10) { text-align: center; width: 26%; }

/* table balance */

table.balance th, table.balance td { width: 70%; height: 1.5em }
table.balance td { text-align: right; }

/* aside */
/*

aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #999; border-bottom-style: solid; }

*/

/* javascript */

.add, .cut, .purchaseadd
{
	border-width: 0.2%;
	display: block;
	font-size: 1.0rem;
	padding: 0.5em 0.6em;	
	float: left;
	text-align: center;
	width: 2.2em;
}



.add, .purchaseadd, .cut
{
	/*background: #9AF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);*/
	background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
	background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
	border-radius: 0.5em;
/*	border-color: #0076A3;*/
	color: #FFF;
	/*cursor: pointer;
	font-weight: bold;
	text-shadow: 0 -1px 2px rgba(0,0,0,0.333);*/
}

.add, .purchaseadd { margin: -2.5em 0 0; }

.add, .purchaseadd:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }

@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add,.purchaseadd, .cut { display: none; }
}

@page { margin: 0; }


.save { float: center }



/* Following style is to get the default form style back */


    overflow:auto;
}

form p {
    width:100%;
    overflow:auto;
}

label {
    float:center;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:center;
    margin:0 0 10px;
    background:#a0c0de;
    border:0;
    padding:6px 10px;
    font-size:14px;
}

.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}
.login-form {
    float:center;
}

/*changing color of placeholder*/

::-webkit-input-placeholder { /* Chrome */
  color: #003366;
  opacity: 0.6;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #003366;
  opacity: 0.6;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #003366;
  opacity: 0.6;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.2;
}
