{% extends "base.html" %}


{% block title %}

{% load static from staticfiles %}

<script src="{% static 'bill/purchase/inv_return_script.js' %}"></script>
<script src="{% static 'bill/purchase/inv_return_general.js' %}"></script>

<link rel="stylesheet" href="{% static 'bill/style.css' %}">

<title>Debit Note - Inventory Return</title>

{% endblock %}

{% block content%}

<div id="invoice">
	<invoicearticle>
		{% block meta %}	

		<h1><center>Debit Note: </center></h1><h2><center>Inventory Return</center></h2>			
		<div class="row">
		<input id="invoice-id" class="extra" title = "Add Invoice ID, if you want to link this note with Invoice. Otherwise leave it blank" placeholder="Invoice ID" ></input>
		<textarea id="vendor-code" class="extra" title="Please enter Vendor code. This cannot be left blank." placeholder="Vendor Code" data-placement="right"></textarea>
		<p><textarea id="warehouse-code">{{warehouse}}</textarea></p>
		</div>
		<div class ="row checkbox">
		<label class="extra" title = "Please check whether Note will be taxed or not. Once you enter item, it cannot be changed. To undo, start a new Note." data-placement="right"><input type="checkbox" name="tax" class="tax" checked>Will this debit note have tax return?<br></label>
		</div>				
			
		<table class="meta">			
			<!--<tr>
				<th><span>Date</span></th>
				<td><span id="date"></span></td>
			</tr>-->
		</table>

		{% endblock %}

		<table class="inventory	table-hover" id="inventory_table">
			<thead class="header-background">
				<tr>				
					<th colspan="1"><span>Item Code</span></th>
					<th colspan="1"><span>Sub Code</span></th>
					<th colspan="2"><span>Item Name</span></th>
					<th colspan="1"><span>Unit</span></th>
					<th colspan="1"><span>Unit Rate</span></th>
					<th colspan="1" class="table-extra" title = "Quantity of any item cannot be zero"><span>Quantity</span></th>
					<th colspan="1"><span>Vat Type</span></th>
					<th colspan="1"><span>Vat</span></th>
					<th colspan="1"><span>Total</span></th>
					<th colspan="2"><span>Inventory Type</span></th>
				</tr>
						
			<form>
			<tbody>
				{% block items_tr %}
					<tr class="data">
						<td colspan="1" class="table-extra" title = "Please check whether Note will be taxed or not. Once you enter item, it cannot be changed."><a class="cut">-</a><span class="itemcode" contenteditable></span></td>
						<td colspan="1"><span class="subitemcode" contenteditable></span></td>
						<td colspan="2"><span></span></td>
						<td colspan="1"><span class="unit"></span></td>
						<td colspan="1"><span></span></td>
						<td colspan="1"><span contenteditable></span></td>
						<td colspan="1"><span></span></td>
						<td colspan="1"><span></span></td>
						<td colspan="1"><span></span></td>
						<td colspan="2"><span>
							<select id="inventory_type">
								<option disabled selected hidden style='display: none' value>Select An Option</option>
  								<option data-id="Reusable">Reusable</option>
  								<option data-id="Returnable">Damaged, Returnable</option>
  							</select>
						</span></td>
					</tr>
				{% endblock %}
			</tbody>
			</form>
		</table>

		<table class="balance">
			<tr>
				<th><span>Total</span></th>
				<td><span data-prefix></span><span id="total"></span></td>
			</tr>						
			<tr>
				<th><span>VAT Total</span></th>
				<td><span data-prefix></span><span id="total"></span></td>
			</tr>
		</table>


	{%block add%}
		<div><a class="add">+</a></div>
	{% endblock %}

	

	{% block save %}	
	<button type="button" class="btn btn-primary btn-xs extra debit" title = "This is to be used for purchase return with Debit.">Create Debit Note</button>
	<button type="button" class="btn btn-primary btn-xs extra refund" title = "This is to be used for purchase return in Cash.">Create Cash Refund</button>
	{% endblock %}
	</invoicearticle>
</div>

	{% block scripting %}
	<script type="text/javascript">
	csrf_token='{{csrf_token}}';	
	//redirect_url= "{% url 'sales:invoice_list' %}"
	</script>
	{% endblock %}

{% endblock %}