{% extends "base.html" %}


{% block title %}

{% load static from staticfiles %}

<!--Datepicker CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>


<script src="{% static 'bill/purchase/purchasescript.js' %}"></script>
<script src="{% static 'bill/purchase/purchasegeneral.js' %}"></script>

<link rel="stylesheet" href="{% static 'bill/style.css' %}">


<title>Purchase Invoice</title>

{% endblock %}

{% block content%}

<div id="invoice">
	<!--<invoiceheader>
				<h1>Invoice</h1>
		<address>
			<p>Jonathan Neal</p>
			<p>101 E. Chapman Ave<br>Orange, CA 92866</p>
			<p>(800) 555-1234</p>
		</address>
		<span><img alt="" src="logo.png"><input type="file" accept="image/*"></span>
	
	</invoiceheader>-->
	<invoicearticle>
		{% block meta %}	

		<h1><center>Purchase Invoice Creation</center></h1>	

		<div class = "container">
		<div class = "col-md-4">
		<textarea id="vendor-code" placeholder="Vendor Code" ></textarea>
		<!--<p><textarea id="warehouse-code" placeholder="Warehouse Code" ></textarea></p>-->
		<textarea id="warehouse-code">{{default}}</textarea>
		</div>

		<div class = "col-md-8">
						
		<!-- <div class="container pull-right" style="margin-bottom: 1%;">
			<div class="input-group date pull-right" >
    			<input class="pull-right" data-provide="date">
    		</div>
 		</div> -->	


		<table class="meta">
			<tr>
				<th><span>Amount Due</span></th>
				<td><span id="prefix">Rs. </span><span></span></td>
			</tr>			
		</table>
		</div>
		</div>

		{% endblock %}

		<table class="inventory	table-hover" id="inventory_table">
			<thead class="header-background">
				<tr>				
					<th colspan="1"><span>Item Code</span></th>
					<th colspan="1"><span>Sub Code</span></th>
					<th colspan="2"><span>Item Name</span></th>
					<th colspan="1"><span>Unit</span></th>
					<th colspan="1"><span>Unit Rate</span></th>
					<th colspan="1"><span>Quantity</span></th>
				<!--	<th colspan="1"><span>Discount 1(%)</span></th>
					<th colspan="1"><span>Discount 2</span></th> -->
					<th colspan="1"><span>Free Quantity</span></th>
					<th colspan="1"><span>VAT Type</span></th>
					<th colspan="1"><span>VAT</span></th>
					<th colspan="1"><span>Net Rate</span></th>					
				</tr>					
			</thead>
			<form>
			<tbody>
				{% block items_tr %}
					<tr class="data">
						<td colspan="1"><a class="cut">-</a><span class="itemcode" contenteditable></span></td>
						<td colspan="1"><span class="subitemcode" contenteditable></span></td>
						<td colspan="2"><span></span></td>
						<td colspan="1"><span class="unit"></span></td>
						<td colspan="1"><span></span></td>
						<td colspan="1"><span contenteditable></span></td>
						<td colspan="1"><span contenteditable>0</span></td>
						<td colspan="1"><span></span></td>
						<td colspan="1"><span></span></td>
						<td colspan="1"><span></span></td>
					</tr>
				{% endblock %}
			</tbody>
			</form>
		</table>
	{%block add%}
		<div><a class="add">+</a></div>
	{% endblock %}

	{% block balance_table %}
		<table class="balance">
			<tr>
				<th><span>Total</span></th>
				<td><span data-prefix></span><span id="total"></span></td>
			</tr>
			<tr>
				<th><span>Grand Discount</span></th>
				<td><span data-prefix></span><span contenteditable id="grand_discount"></span></td>
			</tr>
			<tr>
				<th><span>Net Toal</span></th>
				<td><span data-prefix></span><span id="net_total"></span></td>
			</tr>
			
			<tr hidden>
				<th><span>Amount Paid</span></th>
				<td><span data-prefix></span><span contenteditable id="amount_paid"></span></td>
			</tr>
			<tr hidden>
				<th><span>Balance Due</span></th>
				<td><span data-prefix></span><span></span></td>
			</tr>
		</table>
	{% endblock %}

	{% block save %}	
	<button type="button" class="btn btn-primary btn-xs save" data-toggle="confirmation">Save</button>
	{% endblock %}
	
	</invoicearticle>

</div>

{% block scripting%}
<script type="text/javascript">
	csrf_token='{{csrf_token}}';
	redirect_url= "{% url 'purchase:invoice_list' %}"	
	// $('.date').datepicker({
	// 	format: 'dd/mm/yyyy',
	// 	autoclose: true,
	// 	todayHighlight: true,
	// });
	// $('.date').datepicker().on("changeDate", function(e){

	// })
</script>
{% endblock %}

{% endblock %}


