{% extends "bill/purchase/purchase.html" %}

	{% block title %}

		{% load static from staticfiles %}

			<link rel="stylesheet" href="{% static 'bill/style.css' %}">

		<title>Purchase Invoice Payment</title>

	{% endblock %}


	{% block meta %}	

		<h1><center>Purchase Invoice Amount Due</center></h1>
				

		<p><textarea id="customer-code" disabled>{{invoice.vendor_key.name}}</textarea></p>
		<textarea id="warehouse-code" disabled>{{invoice.warehouse.address}}</textarea>

		<table class="meta">			
			<tr>
				<th><span>Date</span></th>
				<td><span id="date">{{invoice.date|date:"d-m-Y"}}</span></td>
			</tr>
			<tr>
				<th><span>Amount Due</span></th>
				<td><span id="prefix">Rs. </span><span></span></td>
			</tr>
			
		</table>

	{% endblock %}

	{% block items_tr %}

		{% for item in items %}
			<tr class="data">
				<td colspan="1"><span class="itemcode" >{{item.product_key}}</span></td>
				<td colspan="1"><span class="subitemcode" >{{item.subproduct_key}}</span></td>
				<td colspan="2"><span>{{item.product_name}}</span></td>
				<td colspan="1"><span>{{item.cost_price}}</span></td>
				<td colspan="1"><span>{{item.quantity}}</span></td>
				<td colspan="1"><span>{{item.free}}</span></td>
				<td colspan="1"><span>{{item.vat_type}}</span></td>
				<td colspan="1"><span>{{item.vat_percent}}</span></td>
				<td colspan="1"><span></span></td>
			</tr>
		{% endfor %}
	{% endblock %}

	{%block add%}
	{% endblock %}

	{% block balance_table %}
		<table class="balance">
			<tr>
				<th><span>Total</span></th>
				<td><span data-prefix></span><span id="total">{{invoice.total}}</span></td>
			</tr>
			<tr>
				<th><span>Grand Discount</span></th>
				<td><span data-prefix></span><span id="grand_discount">{{invoice.grand_discount}}</span></td>
			</tr>
			<tr>
				<th><span>Net Toal</span></th>
				<td><span data-prefix></span><span id="net_total">{{invoice.net_total}}</span></td>
			</tr>
			
			<tr>
				<th><span>Amount Already Paid</span></th>
				<td><span data-prefix></span><span>{{invoice.amount_paid}}</span></td>
			</tr>
			<tr>
				<th><span>Balance Due</span></th>
				<td><span data-prefix></span><span>{{invoice.balance_due}}</span></td>
			</tr>			
			<tr>
				<th><span>Amount Paid Currently</span></th>
				<td><span data-prefix></span><span contenteditable id="amount_paid"></span></td>
			</tr>
			<tr>
				<th><span>Payment Mode</span></th>
				<td><span contenteditable id="payment_mode"><select>
									<option selected data-id="{{default.name}}">{{default.name}}</option>
									{% for mode in payment_modes %}
  									<option data-id="{{mode.name}}">{{mode.name}}</option>
  									{% endfor %}
  					</select></span></td>
			</tr>
		</table>
	{% endblock %}

	{% block save %}	
	<button type="button" class="btn btn-primary btn-xs save">Save</button>
	{% endblock %}

	{% block scripting%}
	<script src="{% static 'bill/purchase/purchasedue.js' %}"></script>
	<script src="{% static 'bill/purchase/duegeneral.js' %}"></script>
	<script type="text/javascript">
		csrf_token='{{csrf_token}}';
		balance={{invoice.balance_due}};
    	redirect_url= "{% url 'purchase:invoice_due' %}"
    </script>
	
    {% endblock %}
	
