{% extends extension %}

{%block title%}
<title>Fee Structure Creation</title>

<!--Chosen (for searchbox in select box) JS and CSS-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.min.js"></script>

{% load static from staticfiles %}

<script src="{% static 'fees/feestructure.js' %}"></script>

{% endblock %}

{% block content%}
	
<h3>Fee Structure Creation</h3>
<h1></h1>
<div class="row">
	<div class="form-group col-xs-6 col-md-4">
		<label class="control-label">Fee Structure Name</label>
		<input type="text" required="" class="form-control feename"  placeholder="Please input name of fee structure."> 
	</div>
<!-- </div>
<div class="row"> -->

	<div class="form-group col-xs-6 col-md-4 monthdiv">
	<label class="control-label">Select Month(s) when the fee would be repeated </label>
		<select class='form-control selectpicker month' multiple data-actions-box="true"> 
			<option data-id="Jan" title="Jan">January</option>
			<option data-id="Feb" title="Feb">February</option>
			<option data-id="Mar" title="Mar">March</option>
			<option data-id="Apr" title="Apr">April</option>
			<option data-id="May" title="May">May</option>
			<option data-id="Jun" title="Jun">June</option>
			<option data-id="Jul" title="Jul">July</option>
			<option data-id="Aug" title="Aug">August</option>
			<option data-id="Sep" title="Sep">September</option>
			<option data-id="Oct" title="Oct">October</option>
			<option data-id="Nov" title="Nov">November</option>
			<option data-id="Dec" title="Dec">December</option>
    	</select>
	</div>
</div>
<h4>Enter Fee Heads</h4>
<div class="table-responsive">	
	<table id="student_table" class="table table-striped table-bordered">
		<thead class="bg-primary">
	  		<tr>
	  			<th style="text-align: center" class="header" title="Select the rows and press delete to delete the entry.">Select</th>
	  			<th style="text-align: center" class="header" title = "This is the linked account (under ledger group Fees) for the fee structure.">Select Account (under Ledger Group: Fees)</th>
		    	<th style="text-align: center" class="header">Name of Fee Structure</th>
		    	<th style="text-align: center" class="header">Amount</th>
	    	</tr>
		</thead>
		<tbody>
			<tr class='data'>
	    		<td><input type='checkbox' class='case'/></td>
	    		<td style='text-align: center'><select class='form-control select account'>
	      			<option disabled selected hidden style='display: none' value>Select Account</option>
	      		</select></td>
	    		<td style='text-align: center'><input type='text' class='name'/></td>
	    		<td style='text-align: center'><input type='number' class='name'/></td>
	    	</tr>
		</tbody>
	</table>

</div>

<button type="button" class='delete btn btn-danger btn-xs'>- Delete</button>
<button type="button" class='addmore btn btn-success btn-xs'>+ Add More</button>
<h1></h1>

<button type="button" class='submit btn btn-primary btn-xs' disabled="true" title="Click submit to record fee structure.">Submit</button>

<button type="button" class='reset btn btn-primary btn-xs'>Reset</button>


<script>
	redirect_url="{% url 'fees:generic_fee_view' %}";
	csrf_token='{{csrf_token}}';
	var accounts=JSON.parse('{{accounts |escapejs}}');
	//console.log(accounts);
	$.each(accounts, function(){
        $('table').find('.account').append($('<option>',{
            'data-id': this.id,
            'text': this.name
        }));
    });
</script>
{% endblock %}