{% extends extension %}

{%block title%}
<title>Student Wise Fee</title>

{% endblock %}

{% block content%}
	
<h3>Student Wise Fee</h3>
<h1></h1>
<div class="row">
	<div class="form-group col-xs-4 col-md-4 classdiv">
	<label class="control-label">Select Class</label>
		<select class='form-control selectpicker class' data-live-search="true">
      		<option disabled selected hidden style='display: none' value>Select Class</option>
      		{% for item in classsection %}
      		<option data-id="{{item.id}}">{{item.name}}</option>
      		{% endfor %}
		</select>
	</div>
	<div class="form-group col-xs-4 col-md-4 yeardiv">
	<label class="control-label">Select Academic Year</label>
	<input type="number" min="1960" max="2050" step="1" class="form-control year" placeholder="Please input academic year." disabled>
	</div>
	<div class="form-group col-xs-4 col-md-4 monthdiv fee-pay" hidden>
	<label class="control-label">Select Month</label>
		<select class='form-control selectpicker month' data-live-search="true">
      		<option disabled selected hidden style='display: none' value>Select Month</option>
      		<option data-id="Jan">January</option>
			<option data-id="Feb">February</option>
			<option data-id="Mar">March</option>
			<option data-id="Apr">April</option>
			<option data-id="May">May</option>
			<option data-id="Jun">June</option>
			<option data-id="Jul">July</option>
			<option data-id="Aug">August</option>
			<option data-id="Sep">September</option>
			<option data-id="Oct">October</option>
			<option data-id="Nov">November</option>
			<option data-id="Dec">December</option>
    	</select>
	</div>
</div>

<div class="row">
	<div class="form-group col-xs-10 col-md-6 studentdiv">
	<label class="control-label">Select Student</label>
		<select class='form-control selectpicker student' id='student' data-live-search="true">
      		<option disabled selected hidden style='display: none' value>Select Student</option>
      	</select>
	</div>
</div>

<button type="button" class='details btn btn-primary btn-xs' title="Click here to get student list">Get Details</button>

<!-- <div class="row"> -->
<h4>Fee Structure</h4>
<!-- </div> -->
<div class="row fee-pay" hidden>
	<div class="table-responsive col-xs-7 col-md-7">
		<table class="table table-striped table-bordered table-hover feetable" >
		    <thead class="thead-inverse header-background bg-success">
		    	<tr>
		        	<th hidden='true'></th>
		        	<th>Fee Structure Name</th>
			        <th>Amount</th>
			    </tr>
		    </thead>
		    <tbody>
		    </tbody>
	  	</table>  
	</div>
	<div class="col-xs-1 col-md-1"></div>
	<div class="form-group col-xs-4 col-md-4 has-success alreadypaiddiv" hidden>
		<label class="control-label">Amount already paid</label>
		<input type="number" class="form-control paid alreadypaid" disabled>
	</div>
</div>

<!-- Fee View-->
<div class="table-responsive fee-view" hidden>
	<table class="table table-striped table-bordered table-hover feeview" >
	    <thead class="thead-inverse header-background bg-success">
	    	<tr>
	        	<th hidden='true'></th>
		       	<th>Month</th>
		       	<th>Amount</th>
		        <th>Paid On</th>
			    </tr>
	    </thead>
	    <tbody>
	    </tbody>
  	</table>  
</div>

<div class="row fee-pay" hidden>
	<div class="form-group col-xs-4 col-md-4 nowpaydiv">
		<label class="control-label">Enter amount paid</label>
		<input type="number" min="0.00" step="0.01" class="form-control nowpay" placeholder="Please enter the amount paid.">
		<p id="paidhelp" class="form-text text-muted">Maximum amount is the total fees. More than the same shall not be accepted.</p>
		<button type="button" class='submit btn btn-primary btn-xs' title="Click submit to enter data" disabled>Submit fee payment</button>
		<button type="button" class='download btn btn-primary btn-xs' title="Click submit to enter data" disabled>Save Payment and Download fee structure</button>
	</div>
</div>


<!-- <button type="button" class='reset btn btn-primary btn-xs'>Reset</button> -->

{% load static from staticfiles %}
{% if input_type == 'Payment' %}
<script src="{% static 'fees/student_fee_payment.js' %}"></script>
{% elif input_type == 'View' %}
<script src="{% static 'fees/student_fee_view.js' %}"></script>
{% endif %}

<!-- Sweetalert JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script>
	csrf_token='{{csrf_token}}';
</script>
{% endblock %}

