{% extends extension %}

{%block title%}

<title>Sales Invoice</title>


{% endblock %} 

{% block content%}

<div class="row col-md-12 hidden-print">
    <a href="{% url 'retailsales:new_sales_invoice' %}"><button type="button" class="btn btn-primary btn-sm" id="not_print">New Sales Invoice</button></a>
</div>


<div id='print' class="print">
<div class="row">
        <div class="col-md-12">
        	<div class="col-xs-6 receipt-title" id='pos_print'>
    			<h4><small class='invoiceid'>Tax Invoice: <br></small></h4>
            <hr>    
    		</div>
    		<div class="col-xs-6 text-right"  id='pos_print'>
    			<h4><small class='date'>Date: <br></small></h4>
    		<hr>
    		</div>
    		<div class="row">
    			<div class="col-xs-12 text-center">
    				<small><address class='warehouse'></small>        			
    			</div>
    		</div>
    		
    	</div>
    </div>


<div class="text-center" id='a4_detail_div'>	
<table class="table table-striped table-bordered details text-center">
	<thead>
    	<tr class="text-center" id='not_pos_print'> 
        	<th class="text-center" id='not_pos_print'>Item</th>
            <th class="text-center" id='not_pos_print'>HSN</th>
            <!-- <th class="text-center"><h5>HSN Code</h5></th> -->
            <th class="text-center" id='not_pos_print'>Qty</th>
            <th class="text-center" id='not_pos_print'>Unit</th>
            <th class="text-center" id='not_pos_print'>Unit Rate</th>
            <!-- <th class="text-center" id='not_pos_print'><h5>Disc. Type-1</h5></th> -->
            <th class="text-center" id='not_pos_print'>Disc. Amt.</th>
            <th class="text-center" id='not_pos_print'>CGST %</th>
            <th class="text-center" id='not_pos_print'>CGST Amt</th>
            <th class="text-center" id='not_pos_print'>SGST %</th>
            <th class="text-center" id='not_pos_print'>SGST Amt</th>
            <th class="text-center">Total</th>
        </tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>

<div class="text-center" id='pos_detail_div' hidden>	
<table class="table table-striped table-bordered details_pos text-center">
	<thead>
    	<tr class="text-center" id='pos_print'> 
        	<th class="text-center" colspan="8"><font size='1'>Item</font></th>
        </tr>
        <tr class="text-center" id='pos_print'> 
            <th class="text-center"><font size='1'>HSN</font></th>
            <th class="text-center"><font size='1'>Qty</font></th>
            <th class="text-center"><font size='1'>Unit</font></th>
            <th class="text-center" id='not_pos_print'><font size='1'>Rate</font></th>
            <th class="text-center" id='not_pos_print'><font size='1'>Dcnt</font></th>
            <th class="text-center" id='not_pos_print'><font size='1'>GST%</font></th>
            <th class="text-center" id='not_pos_print' colspan="2"><font size='1'>Total</font></th>
        </tr>
    </thead>
	<tbody>
	</tbody>
</table>
</div>

<div class=" total_div row col-xs-12">
	<div class="total_detail">
		<table class="table metadata boderless" >
			<tr>
				<td class='subtotal_receipt'>Subtotal: Rs.</td>
				<td class='cgsttotal_receipt'>CGST: Rs.</td>
                <td class='sgsttotal_receipt'>SGST: Rs.</td>
                <td class='total_receipt'>Total: Rs.</td>
			</tr>
		</table>
	</div>
</div>

<div class=" total_div_pos" hidden>
    <div class="total_detail_pos">
        <table class="table metadata boderless" >
            <tr class='text-center'>
                <td><small class='subtotal_receipt'>Subtotal Rs. </small>
                <br><small class='cgsttotal_receipt'>CGST Rs. </small>
                <br><small class='sgsttotal_receipt'>SGST Rs. </small>
                <br><br><b class='total_receipt'>Total Rs.</b></td>
            </tr>
            <!-- <tr class='text-center'>
                <td><small class='cgsttotal_receipt'>CGST Rs. </small></td>
            </tr>
            <tr class='text-center'>
                <td><small class='sgsttotal_receipt'>SGST Rs. </small></td>
            </tr> -->
            <tr class='text-center'>
                <td></td>
            </tr>
        </table>
        <!-- <p class="text-center">**********THANK YOU. VISIT AGAIN.**********</p> -->
        <p class="text-center">   </p>
    </div>
</div>
<br>
</div>


<button type="button" class="btn btn-primary printout hidden-print">Take Print Out</button>
<br class="hidden-print">
<br class="hidden-print">
<div>
<button type="button" class="btn btn-primary posprintout hidden-print">Take POS Print Out</button>
</div>

<div id='testdiv' class='hidden-print' style='height: 1in; left: -100%; position: absolute; top: -100%; width: 1in;'></div>
<script type='text/javascript'>
    dpi_x = document.getElementById('testdiv').offsetWidth;
    dpi_y = document.getElementById('testdiv').offsetHeight;
</script>
<!-- <button type="button" class="btn btn-primary posprintout" id="not_print">Take POS Print Out</button>
 -->
<!-- Sweetalert JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<!-- JSBarCode -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.8.0/JsBarcode.all.js"></script> -->



{% load static from staticfiles %}

<script src="{% static 'retail_sales/invoicedetail_newformat.js' %}"></script>

<style type="text/css">
	.boderless td, .boderless th{
		border: none;
	}
</style>

<style type="text/css">
/*    @media print {
        table { page-break-after:auto;
        position: relative; }
        table.details tr td, table.details tr th { page-break-inside:avoid; page-break-after:auto;
        position: relative; }
        thead { page-break-inside:avoid; page-break-after:auto;
        position: relative; }
        td { page-break-inside:avoid; page-break-after:auto;
        position: relative; }
    }*/
</style>

<script>
	csrf_token='{{csrf_token}}';
	var pk = JSON.parse('{{ pk | escapejs }}');
</script>

<style type="text/css" class="print_style">
    @media screen {
        #only_print{
            display: none;
        }
        table tr td:last-child {
            border: none;
        }
    }
</style>



{% endblock %}



