
<!DOCTYPE html>
<html>
	<head>
		<!-- meta for viewport -->
		<meta name=viewport content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		{% block jquery %}
		<!--jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript for Bootstrap-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!--This ccs link is for the home icon-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Pace JS, used for animating page load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-loading-bar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>

    <!--This is for modernizer-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    
		<!--jQuery Confirmation Plugin CSS for confirmation boxes-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.css">

		<!--jQuery Confirmation Plugin JS for confirmation boxes-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.js"></script>

		<!--Bootstrap Bootbox Plugin for alert boxes-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

		<!--Bootstrap SelectBoxIt Plugin for styling HTML Select-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>


		{% endblock %}

		{% load staticfiles %}

		<link type ="image/x-icon" href= "{% static 'img/Logo_Favicon.ico' %}" rel="logo icon">
		
		{% block style %}
		{% load staticfiles %}		
		<!--CSS for using the dropdown-->
		<link rel="stylesheet" href="{% static 'infinitypush.css' %}">
		<script src="{% static 'jquery.ma.infinitypush.min.js' %}"></script>
        {% endblock %}

		{% block title %}
		{% endblock %}	
    <style type="text/css">
      body{
        background-color: #f2f5f7;
      }
    </style>


	</head>
	<body>
	<div class="blockcontent">
			<!-- This div is the top-most navigation class -->
			<div>
  				<div class="col-md-6">
					<!-- <h2>{{request.user.tenant.name}}</h2> -->
				  </div>
  				<div class="col-md-6" align="right">
  					<h4>
              <ul class="nav pull-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-graduation-cap" style="color:dark blue"></i> Welcome, {{request.user.first_name}} {{request.user.last_name}} <b class="caret"></b></a>
                  <ul class="dropdown-menu" style="background-color: #f2f5f7;">
                    <li><a href="{% url 'password_change' %}"><i class="fa fa-user"></i>  Change Password</a></li>
                    <li><a href="/help/support"><i class="fa fa-wrench"></i>  Contact Support</a></li>
                    <!-- <li class="divider"></li>
                    <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li> -->
                  </ul>
                </li>
              </ul>     
            </h4>
  				</div>
			</div>
			<ul class="nav nav-tabs"></ul>
			<ul class="nav nav-pills navbar-light">
        <li role="presentation" class="navbar-left"> </li>
        {% block dashboard %}
        <li role="presentation" class="navbar-light" title="Click to go to Dashboard"><a href="{% url 'landing' %}"><i class="fa fa-home fa-2x"></i></a></li>
        {% endblock %}
        	<li role="presentation" class="navbar-right"> </li>
	  			<li role="presentation" class="navbar-right"><a href="{% url 'logout' %}" title="Click to logout"><i class="fa fa-power-off fa-2x"></i></a></li>
	  	</ul>

    <nav id="primary-navigation">
    <!--Home-->
    <ul class="Home">
    <li><a href="{% url 'landing' %}" title="Nav"><span><i class="fa fa-home"></i></span>Home</a></li>
    </ul>
    <!-- Attendance -->  
    <ul class="StudentAttendance">
    <li><a href="#"><span><i class="fa fa-calendar-check-o"></i></span>Student Attedance</a>
      <ul>
        <li><a href="{% url 'classadmin:dailyattendance_entry' %}"><span></span>Mark Attedance</a></li>
        <li><a href="{% url 'classadmin:attendance_view' %}"><span></span>View Attedance</a></li>
      </ul>
    </li>
    </ul>
    <!-- Exam Report -->
    <ul class="Exam">
      <li><a href="#"><span><i class="fa fa-percent"></i></span> Student Transcript</a>
        <ul>
          <li><a href="#"><i class="fa fa-pencil"></i>  Exam Wise Report</a></li>
          <li></li>
          <li><a href="#"><i class="fa fa-language"></i>  Class Wise Report</a></li>
          <li></li>
          <li><a href="#"><i class="fa fa-mortar-board"></i>  Marksheet</a></li>
        </ul>
      </li>      
    </ul>
    <!-- Attendance -->  
    <ul class="Attendance">
    <li><a href="#"><span><i class="fa fa-calendar"></i></span>Your Attedance</a>
      <ul>
        <li><a href="{% url 'hr:individual_attendance' %}"><span></span>Mark today's attendance</a></li>
        <li></li>
        <li><a href="{% url 'hr:apply_leave' %}"><span></span>Apply for leave</a></li>
        <li><a href="#"><span></span>View Attendance History</a></li>
      </ul>
    </li>
    </ul>
    <!-- Routine -->
    <ul class="Routine">
      <li><a href="#"><span><i class="fa fa-table"></i></span> Class Routine</a></li>
    </ul>    
    <!-- Syllabus -->
    <ul class="Syllabus">
      <li><a href="#"><span><i class="fa fa-language"></i></span> Syllabus</a></li>
    </ul>
    <!-- Annual Events -->  
    <ul class="Events">
    <li><a href="#"><span><i class="fa fa-calendar"></i></span> Annual Calendar</a></li>
    </ul>
    <!-- Salary -->  
    <ul class="Salary">
    <li><a href="#"><span><i class="fa fa-rupee"></i></span> Salary Report</a></li>
    </ul>
    <!-- Discussion -->
    <ul class="Discussion">
      <li><a href="#"><span><i class="fa fa-language"></i></span> Student Interaction</a></li>
    </ul>
</nav>
	  		
    <div style="padding:1%">
      {% block content %}
      {% endblock %}
    </div>
  </div>
		<script type="text/javascript">
			$('.extra').tooltip({animation: true});
            $(document).ready(function(){

            $('#primary-navigation').infinitypush({
                openingspeed: 300,
                closingspeed: 300
            });

        });
		</script>
    <!-- This is for text color-->
    <link rel="stylesheet" href="{% static 'text_color.css' %}">

	</body>
</html>