
<!DOCTYPE html>
<html>
	<head>
		<!-- meta for viewport -->
		<meta name=viewport content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		{% block jquery %}
		<!--jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript for Bootstrap-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!--This ccs link is for the home icon-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

		<!--jQuery Confirmation Plugin CSS for confirmation boxes-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.css">

		<!--jQuery Confirmation Plugin JS for confirmation boxes-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.js"></script>

		<!--Bootstrap Bootbox Plugin for alert boxes-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

		<!--Bootstrap SelectBoxIt Plugin for styling HTML Select-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>


		{% endblock %}

		{% load staticfiles %}

		<link type ="image/x-icon" href= "{% static 'img/Logo_Favicon.ico' %}" rel="logo icon">
		
		{% block style %}
		{% load staticfiles %}		
		<!--CSS for using the dropdown-->
		<link rel="stylesheet" href="{% static 'infinitypush.css' %}">
		<script src="{% static 'jquery.ma.infinitypush.min.js' %}"></script>
        {% endblock %}

		{% block title %}
		{% endblock %}	
    <style type="text/css">
      body{
        background-color: #f9f1f6;
      }
    </style>


	</head>
	<body>
		<div class="blockcontent">
			<!-- This div is the top-most navigation class -->
			<div>
  				<div class="col-md-6">
					<!-- <h2>{{request.user.tenant.name}}</h2> -->
				</div>
				<div class="col-md-6" align="right">
					<h3> Welcome {{request.user.first_name}} {{request.user.last_name}}</h3>
				</div>
			</div>
			<ul class="nav nav-tabs"></ul>
			<ul class="nav nav-pills navbar-light">
				<li role="presentation" class="dropdown extra" title="Click to go back to Home"><a href="{% url 'landing' %}"><i class="fa fa-home fa-lg"></i></a></li>
	  			<li role="presentation" class="dropdown extra" title="Click here for items related to general administration"><a href="{% url 'genadmin:base' %}">General Administration</a></li>
	  			<li role="presentation" class="dropdown extra" title="Click here for education related administration"><a href="{% url 'eduadmin:base' %}">Educational Administration</a></li>
	  			<li role="presentation" class="dropdown extra" title="Click here to manage daily class administrtion"><a href="{% url 'classadmin:base' %}">Class Administration</a></li>
	  			<li role="presentation" class="dropdown extra" title="Click here for Staff/Student Profiles"><a href="{% url 'teacher:profile_base' %}"> Profiles</a></li>
	  			<li role="presentation" class="dropdown extra"><a href="#">Others</a></li>
	  			<li role="presentation" class="dropdown extra" title="Click here for accounting, finance, fees, salary etc"><a href="{% url 'accounts:base' %}">Accounts</a></li>
	  			<li role="presentation" class="navbar-right"> </li>
	  			<li role="presentation" class="navbar-right"><a href="{% url 'logout' %}">Logout</a></li>
	  	</ul>

<nav id="primary-navigation">
    <!-- Profile -->
    <ul class="Profile">
      <li><a href="#" title="Nav"><span><i class="fa fa-user-plus"></i></span>Create User Profile</a>
        <div class="sub-wrapper">
          <ul>
            <li><a href="#" title="Sub Nav"><i class="fa fa-user"></i> Principal<!-- <b class="caret"></b> --></a>
              <div>
                <ul>
                  <li><a href="#" title="Sub Nav 2">New Principal</a></li>
                  <li><a href="#" title="Sub Nav 2">Principal Experience</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#" title="Sub Nav"><i class="fa fa-user-secret"></i> Teacher<!-- <b class="caret"></b> --></a>
              <div>
                <ul>
                  <li><a href="#" title="Sub Nav 2"><strong>Open Sab nav</strong></a>
                    <ul>
                      <li><a href="#" title="Sub Nav 3">Link</a></li>
                    </ul>
                  </li>
                  <li><a href="#" title="Sub Nav 2">Link</a></li>
                  <li><a href="#" title="Sub Nav 2">Link</a></li>
                  <li><a href="#" title="Sub Nav 2">Link</a></li>
                  <li><a href="#" title="Sub Nav 2"><strong>Open Sab nav</strong></a>
                    <ul>
                      <li><a href="#" title="Sub Nav 3">Link</a></li>
                    </ul>
                  </li>
                  <li><a href="#" title="Sub Nav 2">Link</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#" title="Sub Nav"><i class="fa fa-graduation-cap"></i> Student<!-- <b class="caret"></b> --></a>
              <div>
                <ul>
                  <li><a href="#" title="Sub Nav 2"><strong>Open Sab nav</strong></a>
                    <ul>
                      <li><a href="#" title="Sub Nav 3">Link</a></li>
                    </ul>
                  </li>
                  <li><a href="#" title="Sub Nav 2">Link</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#" title="Sub Nav"><i class="fa fa-user-md"></i> New Admininstrator<!-- <b class="caret"></b> --></a>
              <div>
                <ul>
                  <li><a href="#" title="Sub Nav 2"><strong>Open Sab nav</strong></a>
                    <ul>
                      <li><a href="#" title="Sub Nav 3">Link</a></li>
                    </ul>
                  </li>
                  <li><a href="#" title="Sub Nav 2">Link</a></li>
                  <li><a href="#" title="Sub Nav 2">Link</a></li>
                  <li><a href="#" title="Sub Nav 2">Link</a></li>
                  <li><a href="#" title="Sub Nav 2"><strong>Open Sab nav</strong></a>
                    <ul>
                      <li><a href="#" title="Sub Nav 3">Link</a></li>
                    </ul>
                  </li>
                  <li><a href="#" title="Sub Nav 2">Link</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
      <!-- <li><a href="#" title="Nav">Link</a></li> -->
      <!-- Class -->
    <ul class="Class">
      <li><a href="#" title="Nav"><span><i class="fa fa-group"></i></span>Class</a>
        <div class="sub-wrapper">
          <ul>
            <li><a href="#" title="Sub Nav"><i class="fa fa-plus"></i> Add To Class<!-- <b class="caret"></b> --></a>
              <div>
                <ul>
                  <li><a href="#" title="Sub Nav 2"><strong>Open Sab nav</strong></a>
                    <ul>
                      <li><a href="#" title="Sub Nav 3">Link</a></li>
                    </ul>
                  </li>
                  <li><a href="#" title="Sub Nav 2">Link</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#" title="Sub Nav"><i class="fa fa-list"></i> Class List<!-- <b class="caret"></b> --></a>
              <div>
                <ul>
                  <li><a href="#" title="Sub Nav 2"><strong>Open Sab nav</strong></a>
                    <ul>
                      <li><a href="#" title="Sub Nav 3">Link</a></li>
                    </ul>
                  </li>
                  <li><a href="#" title="Sub Nav 2">Link</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>      
    </ul>
    <!-- Subject & Syllabus -->
    <ul class="sub n syl">
      <li><a href="#" title="Nav"><span><i class="fa fa-language"></i></span>Subject</a>
        <ul>
          <li><a href="#" title="Sub Nav"><i class="fa fa-plus"></i> Add To Subject</a>
            <ul>
              <li><a href="#" title="Sub Nav 2">Link</a></li>
              <li><a href="#" title="Sub Nav 2">Link</a></li>
            </ul>
          </li>
          <li><a href="#" title="Sub Nav"><i class="fa fa-list"></i> Subject List</a>
            <div>
              <ul>
                <li><a href="#" title="Sub Nav 2"><strong>Open Sab nav</strong></a>
                  <ul>
                    <li><a href="#" title="Sub Nav 3">Link</a></li>
                  </ul>
                </li>
                <li><a href="#" title="Sub Nav 2">Link</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <!-- House -->
    <ul class="house n club">
      <li><a href="#" title="Nav"><span><i class="fa fa-building"></i></span>House and Club</a>
        <ul>
          <li><a href="#" title="Sub Nav"><i class="fa fa-plus"></i> Add To House/Club</a>
            <ul>
              <li><a href="#" title="Sub Nav 2">Link</a></li>
              <li><a href="#" title="Sub Nav 2">Link</a></li>
            </ul>
          </li>
          <li><a href="#" title="Sub Nav"><i class="fa fa-list"></i> House/Club List</a>
            <ul>
              <li><a href="#" title="Sub Nav 2">Link</a></li>
              <li><a href="#" title="Sub Nav 2">Link</a></li>
            </ul>
          </li>
        </ul>
      </li>
  </ul>
  <!-- Exam -->
    <ul class="exam">
      <li><a href="#" title="Nav"><span><i class="fa fa-pencil-square-o"></i></span>Exam</a>
        <ul>
          <li><a href="#" title="Sub Nav"><i class="fa fa-plus"></i> Add To Exam</a>
            <ul>
              <li><a href="#" title="Sub Nav 2">Link</a></li>
              <li><a href="#" title="Sub Nav 2">Link</a></li>
            </ul>
          </li>
          <li><a href="#" title="Sub Nav"><i class="fa fa-list"></i> Exam List</a>
            <div>
              <ul>
                <li><a href="#" title="Sub Nav 2"><strong>Open Sab nav</strong></a>
                  <ul>
                    <li><a href="#" title="Sub Nav 3">Link</a></li>
                  </ul>
                </li>
                <li><a href="#" title="Sub Nav 2">Link</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Calendar -->
    <ul class="calendar">
      <li><a href="#" title="Nav"><span><i class="fa fa-calendar"></i></span>Events</a>
        <ul>
          <li><a href="#" title="Sub Nav"><i class="fa fa-calendar-plus-o"></i> Add Events</a></li>
          <li><a href="#" title="Sub Nav"><i class="fa fa-calendar-o"></i> View Calendar</a></li>
          <li><a href="#" title="Sub Nav"><i class="fa fa-list"></i> View Event List</a></li>
        </ul>
      </li>
    </ul>
    <!-- Period and time table -->
    <ul class="peirod">
      <li><a href="#" title="Nav"><span><i class="fa fa-table"></i></span>Period and Time Table</a>
        <ul>
          <li><a href="#" title="Sub Nav"><i class="fa fa-plus"></i> Add To Period</a>
            <ul>
              <li><a href="#" title="Sub Nav 2">Add Total Number of Periods</a></li>
              <li><a href="#" title="Sub Nav 2">Add Class Schedule</a></li>
            </ul>
          </li>
          <li><a href="#" title="Sub Nav"><i class="fa fa-list"></i> View Period</a>
            <ul>
              <li><a href="#" title="Sub Nav 2">View class wise period</a></li>
              <li><a href="#" title="Sub Nav 2">View teacher wise period</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Class Management -->
    <ul class="peirod">
      <li><a href="#" title="Nav"><span><i class="fa fa-black-tie"></i></span> Class Management</a>
        <ul>
          <li><a href="#" title="Sub Nav"><i class="fa fa-calendar-check-o"></i> Attendance</a>
            <ul>
              <li><a href="#" title="Sub Nav 2">Take/Note Attendance</a></li>
              <li><a href="#" title="Sub Nav 2">Student Leave Approval</a></li>
              <li><a href="#" title="Sub Nav 2">View Attendance Report</a></li>
            </ul>
          </li>
          <li><a href="#" title="Sub Nav"><i class="fa fa-pencil-square-o"></i> Exam</a>
            <ul>
              <li><a href="#" title="Sub Nav 2">Add Exam</a></li>
              <li><a href="#" title="Sub Nav 2">Create Student Exam Report</a></li>
              <li><a href="#" title="Sub Nav 2">View Exam Report</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Accounts -->
    <ul class="peirod">
      <li><a href="#" title="Nav"><span><i class="fa fa-rupee"></i></span> Accounts</a>
        <ul>
          <li><a href="#" title="Sub Nav"><i class="fa fa-money"></i> Accounting</a>
            <ul>
              <li><a href="#" title="Sub Nav 2"><i class="fa fa-plus"></i> Add to accounts</a>
                <ul>
                  <li><a href="#" title="Sub Nav 3">Add accounting period</a></li>
                  <li><a href="#" title="Sub Nav 3">Add ledger group</a></li>
                  <li><a href="#" title="Sub Nav 3">Add account</a></li>
                  <li><a href="#" title="Sub Nav 3">Record Journal Entry</a></li>
                  <li><a href="#" title="Sub Nav 3">Add payment mode</a></li>
                </ul>
              </li>
              <li><a href="#" title="Sub Nav 2"><i class="fa fa-list"></i> View Records</a>
                <ul>
                  <li><a href="#" title="Sub Nav 3">Accouting Period List</a></li>
                  <li><a href="#" title="Sub Nav 3">Ledger group</a></li>
                  <li><a href="#" title="Sub Nav 3">Account List</a></li>
                  <li><a href="#" title="Sub Nav 3">List of Journal Entry</a></li>
                  <li><a href="#" title="Sub Nav 3">List of payment mode</a></li>
                </ul>
              </li>
              <li><a href="#" title="Sub Nav 2"><i class="fa fa-bar-chart"></i> Reports, Compliances</a>
                <ul>
                  <li><a href="#" title="Sub Nav 3">Trail Balance</a></li>
                  <li><a href="#" title="Sub Nav 3">Balance Sheet</a></li>
                  <li><a href="#" title="Sub Nav 3">Income-Expenditure Statement</a></li>
                  <li></li>
                  <li><a href="#" title="Sub Nav 3">Finalize Accounting Period</a></li>
                  <li></li>
                  <li><a href="#" title="Sub Nav 3">Cash Flow Statement</a></li>
                  <li></li>
                  <li><a href="#" title="Sub Nav 3">PF Report</a></li>
                  <li><a href="#" title="Sub Nav 3">ESI Report</a></li>
                  <li><a href="#" title="Sub Nav 3">Windfall Statement</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" title="Sub Nav"><i class="fa fa-mail-reply"></i> Fees</a>
            <ul>
              <li><a href="#" title="Sub Nav 2"><i class="fa fa-plus"></i> Add Data</a>
                <ul>
                  <li><a href="#" title="Sub Nav 3">Monthly Fee Structure</a></li>
                  <li><a href="#" title="Sub Nav 3">Yearly Fee Structure</a></li>
                  <li><a href="#" title="Sub Nav 3">Link Class Group To Fees</a></li>
                  <li><a href="#" title="Sub Nav 3">Student-Fee Linking</a></li>
                </ul>
              </li>
              <li><a href="#" title="Sub Nav 2"><i class="fa fa-list"></i> Record Details</a>
                <ul>
                  <li><a href="#" title="Sub Nav 2">Record Fee Payment</a></li>
                </ul>
              </li>
              <li><a href="#" title="Sub Nav 2"><i class="fa fa-bar-chart"></i> Report</a>
                <ul>
                  <li><a href="#" title="Sub Nav 3">Daily Fee Collection</a></li>
                  <li><a href="#" title="Sub Nav 3">Monthly Fee Collection</a></li>
                  <li><a href="#" title="Sub Nav 3">Yearly Fee Structure</a></li>
                  <li><a href="#" title="Sub Nav 3">List of Defaulters</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
</nav>
        
	  		
			<div style="padding:1%">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<script type="text/javascript">
			$('.extra').tooltip({animation: true});
            $(document).ready(function(){

            $('#primary-navigation').infinitypush({
                openingspeed: 300,
                closingspeed: 300
            });

        });
		</script>
	</body>
</html>



