
<!DOCTYPE html>
<html>
	<head>
		<!-- meta for viewport -->
		<meta name=viewport content="width=device-width, initial-scale=1">

    <!-- Pace JS, used for animating page load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-center-circle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		{% block jquery %}
		<!--jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript for Bootstrap-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!--This ccs link is for font awesome-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!--This is for modernizer-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    
		<!--jQuery Confirmation Plugin CSS for confirmation boxes-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.css">

		<!--jQuery Confirmation Plugin JS for confirmation boxes-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.js"></script>

		<!--Bootstrap Bootbox Plugin for alert boxes-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

		<!--Bootstrap SelectBoxIt Plugin for styling HTML Select-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>


		{% endblock %}

		{% load staticfiles %}

		<link type ="image/x-icon" href= "{% static 'img/Logo_Favicon.ico' %}" rel="logo icon">
		
		{% block style %}
		{% load staticfiles %}		
		<!--CSS for using the dropdown-->
		<link rel="stylesheet" href="{% static 'infinitypush.css' %}">
		<script src="{% static 'jquery.ma.infinitypush.min.js' %}"></script>
        {% endblock %}

		{% block title %}
		{% endblock %}	
    <style type="text/css">
      body{
        background-color: #f2f5f7;
      }
    </style>


	</head>
	<body>
	<div class="blockcontent">
			<!-- This div is the top-most navigation class -->
			<div>
  				<div class="col-md-6">
					<!-- <h2>{{request.user.tenant.name}}</h2> -->
				  </div>
  				<div class="col-md-6" align="right">
  					<h4>
              <ul class="nav pull-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-street-view"></i> Welcome, {{request.user.first_name}} {{request.user.last_name}} <b class="caret"></b></a>
                  <ul class="dropdown-menu" style="background-color: #f2f5f7;">
                    <li><a href="{% url 'password_change' %}"><i class="fa fa-user"></i>  Change Password</a></li>
                    <li><a href="/help/support"><i class="fa fa-wrench"></i>  Contact Support</a></li>
                    <!-- <li class="divider"></li>
                    <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li> -->
                  </ul>
                </li>
              </ul>     
            </h4>
  				</div>
			</div>
			<ul class="nav nav-tabs"></ul>
			<ul class="nav nav-pills navbar-light">
        <li role="presentation" class="navbar-left"> </li>
        {% block dashboard %}
        <li role="presentation" class="navbar-light" title="Click to go to Dashboard"><a href="{% url 'landing' %}"><i class="fa fa-home fa-2x"></i></a></li>
        {% endblock %}
        	<!-- <li role="presentation" class="dropdown extra" title="Click here for items related to general administration"><a href="{% url 'genadmin:base' %}">General Administration</a></li>
	  			<li role="presentation" class="dropdown extra" title="Click here for education related administration"><a href="{% url 'eduadmin:base' %}">Educational Administration</a></li>
	  			<li role="presentation" class="dropdown extra" title="Click here to manage daily class administrtion"><a href="{% url 'classadmin:base' %}">Class Administration</a></li>
	  			<li role="presentation" class="dropdown extra" title="Click here for Staff/Student Profiles"><a href="{% url 'teacher:profile_base' %}"> Profiles</a></li>
          <li role="presentation" class="dropdown extra" title="Click here for HR Details"><a href="{% url 'hr:base' %}"> HR</a></li>
	  			<li role="presentation" class="dropdown extra"><a href="#">Others</a></li>
	  			<li role="presentation" class="dropdown extra" title="Click here for accounting, finance, fees, salary etc"><a href="{% url 'accounts:base' %}">Accounts</a></li> -->
	  			<li role="presentation" class="navbar-right"> </li>
	  			<li role="presentation" class="navbar-right"><a href="{% url 'logout' %}" title="Click to logout"><i class="fa fa-power-off fa-2x"></i></a></li>
	  	</ul>

    <nav id="primary-navigation">
      <!-- Academic Year -->
      <ul class="Acad Year">
        <li><a href="#" title="Nav"><span><i class="fa fa-calendar-o"></i></span>Academic Year</a>
          <ul>
            <li><a href="{% url 'genadmin:new_academic_year' %}"><i class="fa fa-plus"></i> Add Academic Year</a></li>
            <li><a href="#"><i class="fa fa-list"></i> View Academic Year</a></li>
            <li><a href="{% url 'genadmin:change_academic_year' %}"><i class="fa fa-joomla"></i> Change current academic year</a></li>
          </ul>
        </li>
      </ul>
      <!-- Profile -->
      <ul class="Profile">
        <li><a href="#" title="Nav"><span><i class="fa fa-user-plus"></i></span>Create Batch/Profile</a>
          <div class="sub-wrapper">
            <ul>
              <li><a href="#" title="Sub Nav"><i class="fa fa-user"></i> Principal</a>
                <div>
                  <ul>
                    <li><a href="#" title="Sub Nav 2">New Principal</a></li>
                    <li><a href="#" title="Sub Nav 2">Principal Experience</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#" title="Sub Nav"><i class="fa fa-list"></i> Batch</a>
                <div>
                  <ul>
                    <li><a href="{% url 'genadmin:new_batch' %}" title="Sub Nav 2">New Batch</a></li>
                    <li><a href="#" title="Sub Nav 2">View Batch List</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#" title="Sub Nav"><i class="fa fa-user-secret"></i> Teacher</a>
                <div>
                  <ul>
                    <li><a href="{% url 'teacher:new_teacher' %}" title="Sub Nav 2">New Teacher</a></li>
                    <li><a href="#" title="Sub Nav 2">Previous Experience</a></li>                  
                    <li><a href="{% url 'teacher:teacher_list' %}" title="Sub Nav 2">Teacher List</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#" title="Sub Nav"><i class="fa fa-graduation-cap"></i> Student</a>
                <div>
                  <ul>
                    <li><a href="{% url 'student:new_student' %}" >New Student</a></li>
                    <li><a href="{% url 'student:studet_import' %}">Upload Student List</a></li>
                    <li><a href="{% url 'student:new_education' %}" >Student's Previous Education</a></li>
                    <li></li>
                    <li><a href="#" title="Sub Nav 2">Add/Link Guardian/Parents</a></li>
                    <li></li>
                    <li><a href="{% url 'student:student_list' %}" >Students List</a></li>
                    <li><a href="{% url 'student:student_edit' %}" >Edit Existing Student</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-user-md"></i> Admininstrator</a>
                <div>
                  <ul>
                    <li><a href="#" >New Administratior</a></li>
                    <li><a href="#" >Previous Experience</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
        <!-- <li><a href="#" title="Nav">Link</a></li> -->
      <!-- Login Profile -->
      <ul class="Acad Year">
        <li><a href="#"><span><i class="fa fa-sign-in"></i></span> New Login Profile</a>
          <ul>
            <li><a href="#"> Principal Login Profile</a></li>
            <li><a href="{% url 'hr:new_teacher_profile' %}"> Teacher Login Profile</a></li>
            <li><a href="#"> Administration Login Profile</a></li>
            <li><a href="#"> Accounts Login Profile</a></li>
            <li><a href="#"> Fee Collector Login Profile</a></li>
            <li><a href="{% url 'hr:new_student_profile' %}"> Student Login Profile</a></li>
          </ul>
        </li>
      </ul>

      <!-- HR -->
      <ul class="HR">
        <li><a href="#"><span><i class="fa fa-pied-piper-alt"></i></span>HR</a>
          <ul>
            <li><a href="{% url 'hr:new_staff_cadre' %}">Create Cadre Type</a></li>
            <li><a href="{% url 'hr:new_leave_type' %}">Create Leave Type</a></li>
            <li><a href="{% url 'hr:link_cadre_teacher' %}">Link Cadre with Staff</a></li>
            <li><a href="{% url 'hr:link_leave_type' %}">Link Leave with Cadre</a></li>
            <li><a href="{% url 'hr:attendance_approval' %}">Approve Attendance</a></li>
            <!--{# <li><a href="{% url 'hr:new_teacher_attendance' %}" title="Sub Nav">Note Teacher Attendance</a></li> #}-->
          </ul>
        </li>
      </ul>
        <!-- Class -->
      <ul class="Class">
        <li><a href="#"><span><i class="fa fa-group"></i></span>Class</a>
          <div class="sub-wrapper">
            <ul>
              <li><a href="#"><i class="fa fa-plus"></i> Add To Class</a>
                <div>
                  <ul>
                    <li><a href="{% url 'genadmin:new_class_group' %}">Add New Class Group</a></li>
                    <li><a href="{% url 'eduadmin:new_class' %}">Add New Class (Section)</a></li>
                    <li><a href="{% url 'eduadmin:new_classteacher' %}">Add Class Teacher</a></li>
                    <li><a href="{% url 'eduadmin:new_subject_teacher' %}">Add Subject Teacher</a></li>
                    <li><a href="{% url 'eduadmin:promote_student' %}" title="Use this for promoting/moving students from one academic year to next academic year">Promote Students</a></li>
                    <li><a href="{% url 'eduadmin:new_class_student' %}">Assign Class To New Admission Students</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#"><i class="fa fa-list"></i> Class List</a>
                <div>
                  <ul>
                    <li><a href="{% url 'genadmin:class_group_list' %}">View Class Group List</a></li>
                    <li><a href="{% url 'eduadmin:class_list' %}">View Class (Section) List</a></li>
                    <li><a href="{% url 'eduadmin:subject_teacher_list' %}">View List of Subject Teachers</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>      
      </ul>
      <!-- Subject & Syllabus -->
      <ul class="sub n syl">
        <li><a href="#"><span><i class="fa fa-language"></i></span>Subject</a>
          <ul>
            <li><a href="#"><i class="fa fa-plus"></i> Add To Subject</a>
              <ul>
                <li><a href="{% url 'genadmin:new_subject' %}">Add Subject</a></li>
                <li><a href="{% url 'eduadmin:new_syllabus' %}">Add Syllabus</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-list"></i> Subject List</a>
              <div>
                <ul>
                  <li><a href="{% url 'genadmin:subject_list' %}">View Subject List</a></li>
                  <li><a href="{% url 'eduadmin:view_syllabus' %}">View Syllabus</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <!-- House -->
      <!-- <ul class="house n club">
        <li><a href="#" title="Nav"><span><i class="fa fa-building"></i></span>House and Club</a>
          <ul>
            <li><a href="#" title="Sub Nav"><i class="fa fa-plus"></i> Add To House/Club</a>
              <ul>
                <li><a href="{% url 'genadmin:new_house' %}" title="Sub Nav 2">Add House</a></li>
                <li><a href="#" title="Sub Nav 2">Add Club</a></li>
                <li><a href="#" title="Sub Nav 2">Add Student to House</a></li>
                <li><a href="#" title="Sub Nav 2">Add Student to Class</a></li>
              </ul>
            </li>
            <li><a href="#" title="Sub Nav"><i class="fa fa-list"></i> House/Club List</a>
              <ul>
                <li><a href="#" title="Sub Nav 2">List of Houses</a></li>
                <li><a href="#" title="Sub Nav 2">List of Club</a></li>
                <li><a href="#" title="Sub Nav 2">Student-House List</a></li>
                <li><a href="#" title="Sub Nav 2">Student-CLub List</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul> -->
      <!-- Exam -->
      <ul class="exam">
        <li><a href="#" title="Nav"><span><i class="fa fa-pencil-square-o"></i></span>Exam</a>
          <ul>
            <!-- <li><a href="{% url 'eduadmin:new_exam_type' %}" title="Sub Nav"> Choose Exam Format</a></li> -->
            <li><a href="#" title="Sub Nav"> Choose Exam Format</a></li>
            <li><a href="#" title="Sub Nav"> Create Term</a></li>
            <li><a href="#" title="Sub Nav"><i class="fa fa-plus"></i> Add Data</a>
              <ul>
                <!-- <li><a href="{% url 'eduadmin:new_exam' %}" title="Sub Nav 2">Add New Exam</a></li>
                <li><a href="{% url 'classadmin:new_exam_report' %}" title="Sub Nav 2">Prepare Report</a></li> -->
                <li><a href="#">Create New Exam</a></li>
                <li><a href="#">Link Exam &amp Class</a></li>
                <li><a href="#">Prepare Report</a></li>
                <li><a href="#">Prepare Cocurricular Report</a></li>
                <li></li>
                <li><a href="#">Prepare Final Report</a></li>
              </ul>
            </li>
            <li><a href="#" title="Sub Nav"><i class="fa fa-bar-chart"></i> View List</a>
              <div>
                <ul>
                  <li><a href="#" title="Sub Nav 2">List of Exam</a></li>
                  <!-- <li><a href="{% url 'classadmin:exam_report_view' %}" title="Sub Nav 2">Exam Analysis</a></li>
                  <li><a href="{% url 'classadmin:view_transcript' %}" title="Sub Nav 2">Student Transcript</a></li> -->
                  <li><a href="#" title="Sub Nav 2">Exam Analysis</a></li>
                  <li><a href="#" title="Sub Nav 2">Student Transcript</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Calendar -->
      <ul class="calendar">
        <li><a href="#" title="Nav"><span><i class="fa fa-calendar"></i></span> Events &amp Notices</a>
          <ul>
            <li><a href="{% url 'genadmin:calendar' %}"><i class="fa fa-calendar-o"></i> View Calendar</a></li>
            <li><a href="{% url 'genadmin:event_list' %}"><i class="fa fa-list"></i> View Event List</a></li>
            <li><a href="{% url 'genadmin:event_delete' %}"><i class="fa  fa-eraser"></i> Delete Events</a></li>
            <li><a href="{% url 'genadmin:new_notice' %}"><i class="fa fa-align-justify "></i> New Notice</a></li>
            <li><a href="{% url 'genadmin:notice_delete' %}"><i class="fa  fa-eraser"></i> Delete Notice</a></li>
          </ul>
        </li>
      </ul>
      <!-- Period and time table -->
      <ul class="peirod">
        <li><a href="#" title="Nav"><span><i class="fa fa-table"></i></span> Period and Time Table</a>
          <ul>
            <li><a href="#" title="Sub Nav"><i class="fa fa-plus"></i> Add To Period</a>
              <ul>
                <li><a href="{% url 'eduadmin:total_period_entry' %}"> Add Total Number of Periods</a></li>
                <li><a href="{% url 'eduadmin:class_list' %}"> Add Class Schedule</a></li>
              </ul>
            </li>
            <li><a href="#" title="Sub Nav"><i class="fa fa-list"></i> View Period</a>
              <ul>
                <li><a href="{% url 'eduadmin:class_list' %}"> View class wise period</a></li>
                <li><a href="{% url 'eduadmin:teacher_period' %}"> View teacher wise period</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Class Management -->
      <ul class="management">
        <li><a href="#" title="Nav"><i class="fa fa-black-tie"></i> Class Management</a>
          <ul>
            <li><a href="{% url 'classadmin:student_list' %}" title="Sub Nav 2"><i class="fa fa-list"></i>Student List</a></li>
            <li><a href="#" title="Sub Nav"><i class="fa fa-calendar-check-o"></i> Attendance</a>
              <ul>
                <li><a href="{% url 'classadmin:dailyattendance_entry' %}" title="Sub Nav 2">Take/Note Attendance</a></li>
                <li><a href="#" title="Sub Nav 2">Student Leave Approval</a></li>
                <li><a href="{% url 'classadmin:attendance_view' %}" title="Sub Nav 2">Class Attendance Report</a></li>
                <li><a href="{% url 'classadmin:student_attendance' %}" title="Sub Nav 2">Student Attendance Report</a></li>
              </ul>
            </li>
            <li><a href="#" title="Sub Nav"><i class="fa fa-pencil-square-o"></i> Exam</a>
              <ul>
                <li><a href="#" title="Sub Nav 2">Create Student Exam Report</a></li>
                <li><a href="#" title="Sub Nav 2">Exam Report Analysis</a></li>
                <li><a href="#" title="Sub Nav 2">Student Exam Report</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Promotion -->
      <ul class="promote">
        <li><a href="#" ><span><i class="fa fa-exchange"></i></span>Students Promotion</a>
          <ul>
            <li><a href="{% url 'eduadmin:promote_student' %}" title="Use this for promoting/moving students from one academic year to next academic year">Promote Student</a></li>
            <!-- <li><a href="{% url 'genadmin:event_list' %}" title="Sub Nav"><i class="fa fa-list"></i> View Event List</a></li> -->
          </ul>
        </li>
      </ul>
      <!-- Library -->
      <ul class="library">
        <li><a href="#" title="Nav"><span><i class="fa fa-book"></i></span>Library</a>
          <ul>
            <li><a href="#" title="Sub Nav"><i class="fa fa-bullhorn"></i> New Library</a>
              <ul>
                <li><a href="{% url 'library:new_library' %}" title="Sub Nav">Add Library</a></li>
                <li><a href="#" title="Sub Nav">Add Librarian</a></li>
                <li><a href="{% url 'library:new_period' %}" title="Sub Nav">Add Book Holding Period</a></li>
              </ul>
            </li>
            <li><a href="#" title="Sub Nav"><i class="fa fa-cogs"></i> Library Management</a>
              <ul>
                <li><a href="{% url 'library:new_book' %}">Add New Book</a></li>
                <li><a href="{% url 'library:book_list' %}">View Book List</a></li>
                <li><a href="{% url 'library:book_issue' %}">Issue Book</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Login Profile -->
      <ul class="Login Profile">
        <li><a href="#" title="Nav"><span><i class="fa fa-mail-reply"></i></span>Salary</a>
          <ul>
            <li><a href="#" title="Sub Nav"> Create Salary Structure</a>
              <ul>
                <li><a href="{% url 'salary:new_monthly_salary' %}"> Monthly Recurring Strucutre</a></li>
                <li></li>
                <li><a href="#"> Yearly Recurring Structure</a></li>
                <li></li>
                <li><a href="{% url 'salary:new_epfee_salary' %}"> Employee EPF Contribution Rule</a></li>
                <li></li>
                <li><a href="{% url 'salary:new_esiee_salary' %}"> Employee ESI Contribution Rule</a></li>
                <li></li>
                <li><a href="{% url 'salary:new_epsepf_salary' %}"> Employer EPF-EPS Contribution Rule</a></li>
                <li></li>
                <li><a href="{% url 'salary:new_esier_salary' %}"> Employer ESI Contribution Rule</a></li>
                <li></li>
                <li><a href="{% url 'salary:new_edli_salary' %}"> Employer EDLI Contribution Rule</a></li>
                <li></li>
              </ul>
            </li>
            <li><a href="#" title="Sub Nav"> Link &amp Generate</a>
              <ul>
                <li><a href="{% url 'salary:cadre_salary_link' %}"> Link Cadre (Teacher) To Structures</a></li>
                <li></li>
                <li><a href="{% url 'salary:new_salary_generation' %}"> Generate Staff Salary</a></li>
                <li></li>
              </ul>
            </li>
            {# <li><a href="#" title="Sub Nav"> Teacher Login Profile</a></li> #}
          </ul>
        </li>
      </ul>
      <!-- Accounts -->
      <ul class="accounts">
        <li><a href="#" title="Nav"><span><i class="fa fa-rupee"></i></span> Accounts</a>
          <ul>
            <li><a href="#" title="Sub Nav"><i class="fa fa-money"></i> Accounting</a>
              <ul>
                <li><a href="#" title="Sub Nav 2"><i class="fa fa-plus"></i> Add to accounts</a>
                  <ul>
                    <!-- <li><a href="{% url 'accounts:new_period' %}" title="Sub Nav 3">Add accounting period</a></li> -->
                    <li><a href="{% url 'accounts:new_ledgergroup' %}" title="Sub Nav 3">Add ledger group</a></li>
                    <li><a href="{% url 'accounts:new_account' %}" title="Sub Nav 3">Add account</a></li>
                    <li><a href="{% url 'accounts:new_journalgroup' %}" title="Sub Nav 3">Add Journal Group</a></li>
                    <li><a href="{% url 'accounts:journalentry_new' %}" title="Sub Nav 3">Record Journal Entry</a></li>
                    <li><a href="{% url 'accounts:new_paymentmode' %}" title="Sub Nav 3">Add payment mode</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'accounts:change_accounting_period' %}"><i class="fa fa-joomla"></i> Change current accounting period</a></li>
                <li><a href="#" title="Sub Nav 2"><i class="fa fa-list"></i> View Records</a>
                  <ul>
                    <li><a href="{% url 'accounts:period_list' %}" title="Sub Nav 3">Accouting Period List</a></li>
                    <li><a href="#" title="Sub Nav 3">Ledger group</a></li>
                    <li><a href="{% url 'accounts:account_list' %}" title="Sub Nav 3">Account List</a></li>
                    <li><a href="{% url 'accounts:journalgroup_list' %}" title="Sub Nav 3">Journal Group List</a></li>
                    <li><a href="{% url 'accounts:paymentmode_list' %}" title="Sub Nav 3">List of payment mode</a></li>
                  </ul>
                </li>
                <li><a href="#" title="Sub Nav 2"><i class="fa fa-bar-chart"></i> Reports, Compliances</a>
                  <ul>
                    <li><a href="{% url 'accounts:view_trail_balance' %}" title="Sub Nav 3">Trail Balance</a></li>
                    <li><a href="{% url 'accounts:view_balance_sheet' %}" title="Sub Nav 3">Balance Sheet</a></li>
                    <li><a href="{% url 'accounts:view_income_expenditure' %}" title="Sub Nav 3">Income-Expenditure Statement</a></li>
                    <li></li>
                    <li><a href="#" title="Sub Nav 3">Finalize Accounting Period</a></li>
                    <li></li>
                    <li><a href="#" title="Sub Nav 3">Cash Flow Statement</a></li>
                    <li></li>
                    <li><a href="#" title="Sub Nav 3">PF Report</a></li>
                    <li><a href="#" title="Sub Nav 3">ESI Report</a></li>
                    <li><a href="#" title="Sub Nav 3">Waterfall Statement</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-mail-forward"></i> Fees</a>
              <ul>
                <li><a href="#"><i class="fa fa-plus"></i> Add Data</a>
                  <ul>
                    <li><a href="{% url 'fees:new_generic_fee' %}">Fee Structure</a></li>
                    <li><a href="{% url 'fees:group_fee_linking' %}" >Link Class Group To Fees</a></li>
                    <li><a href="#">Student-Fee Linking</a></li>
                  </ul>
                </li>
                <li><a href="#" title="Sub Nav 2"><i class="fa fa-list"></i> Record Details</a>
                  <ul>
                    <li><a href="{% url 'fees:student_payment' %}" >Record Fee Payment</a></li>
                    <li><a href="{% url 'fees:generic_fee_view' %}" >View Yearly Fee List</a></li>
                    <li><a href="{% url 'fees:student_payment_view' %}">View Student Fee Payment Details</a></li>
                  </ul>
                </li>
                <li><a href="#" title="Sub Nav 2"><i class="fa fa-bar-chart"></i> Report</a>
                  <ul>
                    <li><a href="{% url 'fees:fee_collection' %}">Fee Collection Details</a></li>
                    <li><a href="#">List of Defaulters</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>    
	  		
    <div style="padding:1%">
      {% block content %}
      {% endblock %}
    </div>
  </div>
		<script type="text/javascript">
			$('.extra').tooltip({animation: true});
            $(document).ready(function(){

            $('#primary-navigation').infinitypush({
                openingspeed: 300,
                closingspeed: 300
            });

        });
		</script>
    <!-- This is for text color-->
    <link rel="stylesheet" href="{% static 'text_color.css' %}">

	</body>
</html>



