{% extends "base_student.html" %}

{% block title %}
<title>
    Dashboard 
</title>
    <!-- Google Fonts Load Pangolin-->
    <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
    <!-- Google Fonts Load Righteous-->
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
{% endblock %}

{% load static from staticfiles %}
{%block content%}

<div class="container">
    <div class="row">
        
        <div class="col-md-7 col-xs-12">
            <h4 style="font-size: 30px; font-family: 'Righteous';"><i class="fa fa-calendar"></i> Events For The Month:</h4>
            <ul>
                {% for i in events %}
                    <li style="font-size: 20px; font-family: 'Pangolin';">{{i.date|date:"d-m-Y"}}: {{i.event}}</li>
                {% endfor %}                
            </ul>
        </div>
        <div class="col-md-7 col-xs-12">
            <h4 style="font-size: 30px; font-family: 'Righteous';"><i class="fa fa-bullhorn"></i> Notice Board:</h4>
            <ul>
                {% for i in notices %}
                    <li style="font-size: 20px; font-family: 'Pangolin';">{{i.show_from|date:"d-m-Y"}}: {{i.title}} - {{i.details}}</li>
                {% endfor %}
            </ul>                    
        </div>
        <!--<div class="col-md-5">
            <p><img src="{% static 'gif/student_landing.gif' %}" alt="Forgot Password"></p>
        </div>-->

    </div>
    

</div>

    
    <!--Chart.js (for graph)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>    

    <link href='https://fonts.googleapis.com/css?family=Signika:300,400,600,700' rel='stylesheet' type='text/css'>

    
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'landing/landing.css' %}">
    <link rel="stylesheet" href="{% static 'text_color.css' %}">

    
	
{% endblock %}































