{% extends extension %}

{% block title %}
<title>
  It's Holiday Time
</title>

{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="row">
  <!-- <div class="col-md-6 col-md-offset-3 text-center"> -->
  <div class="col-md-6 text-center">
    <br>
    <h2 style="padding-bottom:10px;">Already recorded!!</h2>
    <h3 style="padding-bottom:30px;">Chill!! We have already recodred your attendance for this date.</h3>
    <h4 style="padding-bottom:10px;"><i class="fa fa-angellist" style="color:green"></i> And hey... lets not rework!!</h4>    
  </div>
  <div class="col-md-6 text-center">
    <p><img src="{% static 'gif/rework.gif' %}"></p>
  </div>
</div>
{% endblock %}



