{% extends "base.html" %}

{%block title%}
<title>Daily Attendance Register</title>

{% load static from staticfiles %}



{% endblock %}

{% block content%}
	
<h3>Mark Your Attendance</h3>
<h1></h1>
<div class="row">
	<div class="form-group col-xs-4 col-md-3 datediv" >
		<label for="date" class="control-label">Are you present today?</label>
		<select class="selectpicker classgroup">
	    	<option disabled selected hidden style='display: none' value>Select Yes/No</option>
	    	<option data-id="true"> Yes </option>
    		<option data-id="false"> No </option>					
  		</select>
	</div>
</div>

<h3>Apply for leave</h3>

<div class="row">
	<div class="form-group col-xs-4 col-md-3 datediv" >
		<label for="date" class="control-label">Select type of leave</label>
		<select class="selectpicker classgroup">
	    	<option disabled selected hidden style='display: none' value>Select Leave Type</option>
	    	<option data-id="true"> Casual Leave </option>
    		<option data-id="false"> Loss of pay </option>					
  		</select>
	</div>
	<div class="form-group col-xs-4 col-md-3 datediv" >
		<label for="date" class="control-label">Remarks</label>
		<input type="text" required="" class="form-control date"  placeholder="Please add remarks">
	</div>
</div>

<button type="button" class='submit btn btn-primary btn-xs' title="Click submit to record atendance." disabled>Submit</button>

<!-- <button type="button" class='reset btn btn-primary btn-xs'>Reset</button> -->

<!-- Sweetalert JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script src="{% static 'hr/attendance.js' %}"></script>
<script>
	$('.tooltip').tooltip({animation: true, container: 'body'});
	redirect_url="{% url 'hr:base' %}"
	csrf_token='{{csrf_token}}';
</script>
{% endblock %}