{% extends extension %}

{%block title%}
<title>Apply For Leave</title>

{% load static from staticfiles %}



{% endblock %}

{% block content%}
	
<h3>Apply For Leave or Minpunch</h3>
<h1></h1>
<p>Incase you forgot to apply for attendance, please do so within 60 days, else it'll be considered absent.</p>

<div class="row">
	<div class="form-group col-xs-4 col-md-3 datediv" >
		<label for="date" class="control-label">Select Leave/Mispunch</label>
		<select class="selectpicker classgroup">
	    	<option disabled selected hidden style='display: none' value>Select Leave/Mispunch</option>
	    	<option data-id="true"> Leave </option>
    		<option data-id="false"> Mispunch </option>					
  		</select>
	</div>	
</div>

<div class="row leave">
	<div class="form-group col-xs-4 col-md-3 datediv" >
		<label for="date" class="control-label">Select Date</label>
		<input type="date" required="" class="form-control date"  placeholder="Please enter date for leave application.">
	</div>
	<div class="form-group col-xs-4 col-md-3 datediv" >
		<label for="date" class="control-label">Select type of leave</label>
		<select class="selectpicker classgroup">
	    	<option disabled selected hidden style='display: none' value>Select Leave Type</option>
	    	<option data-id="true"> Casual Leave </option>
    		<option data-id="false"> Loss of pay </option>					
  		</select>
	</div>
	<div class="form-group col-xs-4 col-md-3 datediv" >
		<label for="date" class="control-label">Remarks</label>
		<input type="text" required="" class="form-control date"  placeholder="Please add remarks">
	</div>
</div>

<h1></h1>

<div class="row mispunch">
	<div class="form-group col-xs-4 col-md-3 datediv" >
		<label for="date" class="control-label">Select Date</label>
		<input type="date" required="" class="form-control date"  placeholder="Please enter date for leave application.">
	</div>
	<div class="form-group col-xs-4 col-md-3 datediv" >
		<label for="date" class="control-label">Reason For Mispunch</label>
		<input type="text" required="" class="form-control date"  placeholder="Please add remarks">
	</div>
</div>

<button type="button" class='submit btn btn-primary btn-xs' title="Click submit to record atendance." disabled>Submit</button>

<!-- <button type="button" class='reset btn btn-primary btn-xs'>Reset</button> -->

<!-- Sweetalert JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script src="{% static 'hr/attendance.js' %}"></script>
<script>
	$('.tooltip').tooltip({animation: true, container: 'body'});
	redirect_url="{% url 'hr:base' %}"
	csrf_token='{{csrf_token}}';
</script>
{% endblock %}