{% extends extension %}


{%block title%}
<title>Leave Application</title>

{% load static from staticfiles %}

{% endblock %} 

{% block content%}

<h3>Leave Application</h3>
	
<div class="row">
  <div class="form-group col-md-4">
    <label class="control-label">Select Date</label>
    <input type="date" required="" class="form-control date"> 
  
    <label class="control-label">Reason for Leave</label>
    <input type="text" required="" class="form-control date" placeholder="Please enter the reason for leave/absence"> 
  </div>
  <div class="col-md-8 text-center">
    <p><img src="{% static 'gif/student_leave.gif' %}" alt="Leave!!"></p>
  </div>
</div>

<script>
  csrf_token='{{csrf_token}}';
</script>
{% endblock %}

