{% extends extension %}


{%block title%}
<title>Class Routine</title>

{% load static from staticfiles %}

{% endblock %} 

{% block content%}
	
<h3>{{class_selected.name}}</h3>

<div class="row">
  <div class="classteacherdiv" hidden="true">
    <h5><b>Class Teacher: </b></h5>
    <p class="classteacher"></p>
  </div>

  <div class="classsubjectdiv" hidden="true">
    <table cellspacing="0" id="subject_table" class="table table-striped table-bordered">
    <thead class="bg-primary">
      <tr>
        <th class="header">Subject Name</th>
        <th class="header">Topics</th>
      </tr>
     </thead>
     <tbody></tbody>
     </table>
  </div>
</div>

<h1></h1>


{% if totalperiod %}
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" id="period">
    <thead class="thead-inverse header-background bg-success">
      <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thrusday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
    {% for i in range %}
      <tr class="{{i|add:'1'}}">
        <th>Period: {{i|add:"1"}}</th>        
            <td class="0"></td>
            <td class="1"></td>
            <td class="2"></td>
            <td class="3"></td>
            <td class="4"></td>
            <td class="5"></td>
            <td class="6"></td>
        </tr>
    {% endfor %}
    </tbody>

  </table>  
</div>
{% endif %}

<script>
csrf_token='{{csrf_token}}';
var periods=JSON.parse('{{periods |escapejs}}');
$.each(periods, function(){
  if (this.data_type=="Period"){
    $('tr.'+this.period).find('.'+this.day+'').html('<p>'+this.subject +'<//p><p>'+this.teacher+'</p>')
  }
});
$('.addperiod').attr('data-toggle',"modal")
$('.addperiod').attr('data-target',"#myModal")
</script>
{% endblock %}

