{% extends "landingbase.html" %}

{% block title %}

{% load static from staticfiles %}

<!--<link rel="stylesheet" href="{% static 'bill/loggingstyle.css' %}">-->

<link rel="stylesheet" href="{% static 'bill/style.css' %}">

<title>Log-in</title>

{% endblock %}

{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% else %}
        <p>Please, use the following form to log-in. If you don't have an account,<a href='{% url 'register' %}'>click here</a> to register your firm</p>
    {% endif %}


       

    <div class="login-form">
        <form action="{% url "login" %}" method="post">
            {% for field in form %}
                    <fieldset class="form-group">
                    <div class="input-group">
                        <span style="background-color:#b77b48; color:white"></span>
                        <p class="id">{{ field.html_name }}</p>
                        {% if field.html_name == "password" %}
                            <input type ="password" class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{ field.html_name }}" type="text" />                         
                        {% else %}
                            <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{ field.html_name }}" type="text" />
                        {% endif %}
                    </div>
                    </fieldset>
            {% endfor %}
            {% csrf_token %}
            <p><input type="submit" class="btn btn-primary" value="Log-in"></p>
            <input type="hidden" name="next" value="{% url "landing" %}" />
            
        </form>
        <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
        <!--<p><a href="#">Register Here</a></p>-->
    </div>

<style type="text/css">
    p.id{
        text-transform: capitalize;
    }
</style>    

{% endblock %}




