{% extends "base.html" %}

{% block title %}
<title>
    Account Details 
</title>
<!-- Datatable CSS-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<!-- Datatable jQuery-->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
{% load static from staticfiles %}
{% endblock %}

{% block content%}
	<h2 align="center">Detiled Journal Entries</h2>
  <h1></h1>
  <h3 align="center">Account Name: {{account.name}}</h3>
  <h1></h1>
	<h2>Expense</h2>
  <h4>{{expense.value__sum}}</h4>



	
{% endblock %}




