
<!DOCTYPE html>
<html>
	<head>
		<!-- meta for viewport -->
		<meta name=viewport content="width=device-width, initial-scale=1">

	    <!-- Pace JS, used for animating page load -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-center-circle.min.css">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme - This will be gradually obsolete -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

	    <!-- Optional theme: Bootstrap Paper - This can be used after updating html files accordingly -->
	    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/Paperer/bootstrap.min.css" crossorigin="anonymous"> -->

	    <!-- Optional theme: Bootstrap Lumen - This can be used after updating html files accordingly-->
	    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" crossorigin="anonymous"> -->

	    <!-- Optional theme: Bootstrap Yeti - This can be used after updating html files accordingly-->
	    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" crossorigin="anonymous"> -->


		{% block jquery %}
		<!--jquery-->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/themes/base/jquery-ui.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>

		<!-- Latest compiled and minified JavaScript for Bootstrap-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!--This ccs link is for font awesome-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!--This link is for font awesome version 5-->
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->

	    <!--This is for modernizer-->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    
		<!--jQuery Confirmation Plugin CSS for confirmation boxes-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.css">

		<!--jQuery Confirmation Plugin JS for confirmation boxes-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.js"></script>

		<!--Bootstrap Bootbox Plugin for alert boxes-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

		<!--Bootstrap SelectBoxIt Plugin for styling HTML Select-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>




		{% endblock %}

		{% load staticfiles %}

		<link type ="image/x-icon" href= "{% static 'img/Logo_Favicon.ico' %}" rel="logo icon">
		
		{% block style %}
		{% load staticfiles %}		
		<!--CSS for using the dropdown-->
		<link rel="stylesheet" href="{% static 'infinitypush.css' %}">
		<script src="{% static 'jquery.ma.infinitypush.min.js' %}"></script>
        {% endblock %}

		{% block title %}
		{% endblock %}	
    <style type="text/css">
      body{
        background-color: #f2f5f7;
        /*background-color: #d42426;*/
      }
    </style>


	</head>
	<body>
	<div class="blockcontent">
			<!-- This div is the top-most navigation class -->
			<div id="not_print" class="hidden-print">
  				<div class="col-md-6">
					<!-- <h2>{{request.user.tenant.name}}</h2> -->
				  </div>
  				<div class="col-md-6" align="right">
  					<h4>
              <ul class="nav pull-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-street-view"></i> Welcome, {{request.user.first_name}} {{request.user.last_name}} <b class="caret"></b></a>
                  <!-- <ul class="dropdown-menu" style="background-color: #f2f5f7;"> -->
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'password_change' %}"><i class="fa fa-user" style="color:#034a63"></i>  Change Password</a></li>
                    <li><a href="{% url 'user:tenant_settings' %}"><i class="fa fa-building" style="color:#034a63"></i>  Company Settings</a></li>
                    <li><a href="#"><i class="fa fa-gear" style="color:#034a63"></i>  Personal Settings</a></li>
                    <li><a href="#"><i class="fa fa-wrench" style="color:#034a63"></i>  Contact Support</a></li>
                    <!-- <li class="divider"></li>
                    <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li> -->
                  </ul>
                </li>
              </ul>     
            </h4>
  				</div>
			</div>
			<ul class="nav nav-tabs hidden-print" id="not_print"></ul>
			<ul class="nav nav-pills navbar-light hidden-print" id="not_print">
        <li role="presentation" class="navbar-left"> </li>
        {% block dashboard %}
        <li role="presentation" class="navbar-light" title="Click to go to Dashboard"><a href="{% url 'landing' %}"><i class="fa fa-home fa-2x"></i></a></li>
        {% endblock %}
        	<li role="presentation" class="navbar-right"> </li>
	  			<li role="presentation" class="navbar-right"><a href="{% url 'logout' %}" title="Click to logout"><i class="fa fa-power-off fa-2x"></i></a></li>
	  	</ul>

    <nav id="primary-navigation" id="not_print" class="hidden-print">
      <!-- Tenant -->
      <ul class="Tenant Name">
        <li><a href="#" title="Welcome to school"><b>{{request.user.tenant.name}}</b></a></li>
      </ul>
      <!-- Login Profile -->
      <ul class="Acad Year">
        <li><a href="#"><span><i class="fa fa-sign-in"></i></span> New Login Profile</a>
          <ul>
            <li><a href="#"> Administration Login Profile</a></li>
            <li><a href="#"> Salesperson Login Profile</a></li>
            <li><a href="#"> Purchaseperson Login Profile</a></li>            
          </ul>
        </li>
      </ul>
      <!-- Master -->
      <ul class="MasterNav">
        <li><a href="#"><span><i class="fa fa-database"></i></span>Master</a>
          <ul>
            <li><a href="{% url 'master:zone_data' %}">Zone</a></li>
            <li><a href="{% url 'master:customer_data' %}">Customer</a></li>
            <li><a href="{% url 'master:vendor_data' %}">Vendor</a></li>
            <li><a href="{% url 'master:tax_data' %}">Tax</a></li>
            <li><a href="{% url 'master:dimension_unit_data' %}">Unit &amp Dimension</a></li>
            <li title="Master for Products"><a href="#">Products</a>
              <ul>
                <li><a href="{% url 'master:manufacbrand_data' %}">Manufacturer</a></li>
                <li><a href="{% url 'master:product_group' %}">Product Group</a></li>
                <li><a href="{% url 'master:product_data' %}">Product</a></li>
              </ul>
            </li>
            <li title="Master for Services"><a href="#">Services</a>
              <ul>
                <li><a href="{% url 'master:service_group_view' %}">Service Group</a></li>
                <li><a href="#">Service Segment</a></li>
                <li><a href="{% url 'master:service_view' %}">Service</a></li>
              </ul>
            </li>
            <li><a href="{% url 'master:warehouse_data' %}">Warehouse</a></li>
          </ul>
        </li>
      </ul>
      <!-- Accounts -->
      <ul class="AccountNav">
        <li><a href="#"><span><i class="fa fa-inr"></i></span> Accounting</a>
          <ul>
            <li><a href="{% url 'account:account_period_view' %}">Accounting Period</a></li>
            <li><a href="{% url 'account:account_data' %}">Account List</a></li>
            <li><a href="{% url 'account:payment_mode_data' %}"><sup><i class="fa fa-star" style="color:red;"> New</i></sup>Payment Mode List</a></li>
            <li><a href="{% url 'account:new_journal_entry' %}">Journal Entry</a></li>
            <li><a href="#">Ledger Group</a></li>
            <li><a href="{% url 'account:new_tax_report' %}">Tax Report</a></li>
            <li><a href="{% url 'account:trial_balance_view' %}">Trial Balance</a></li>
            <li><a href="{% url 'account:balance_sheet' %}">Balance Sheet</a></li>
            <li><a href="{% url 'account:profit_loss_view' %}">Profit and Loss</a></li>
          </ul>
        </li>
      </ul>
      <!-- GST -->
      <ul class="AccountNav">
        <li><a href="#"><span><i class="fa fa-bank"></i></span> GST</a>
          <ul>
            <li><a href="#">GST Dashboard</a></li>
            <li><a href="{% url 'account:new_gst_purchase' %}">Purchase Report</a></li>
            <li><a href="#">Sales Report</a></li>
            <li><a href="#">Payment History</a></li>
          </ul>
        </li>
      </ul>
      <!-- Purchase -->
      <ul class="PurchaseNav">
        <li><a href="#"><span><i class="fa fa-shopping-bag"></i></span> Purchase</a>
          <ul>
            <li><a href="{% url 'purchase:purchase_order_new' %}"><sup><i class="fa fa-star" style="color:red;"> New</i></sup>Create Purchase Order</a></li>
            <li><a href="{% url 'purchase:order_list_view' %}"><sup><i class="fa fa-star" style="color:red;"> New</i></sup>Order List</a></li>
            <li title="Click to create purchase receipt"><a href="#">Generate Receipt</a>
              <ul>
                <li><a href="{% url 'purchase:purchase_receipt_new' %}">Purchase Receipt</a></li>
                <li><a href="{% url 'purchase:purchase_receipt_new_noninventory' %}"><sup><i class="fa fa-star" style="color:red;"> New</i></sup> Purchase Receipt for Non Invenotry Item</a></li>
                <li></li>
              </ul>
            </li>
            <li><a href="{% url 'purchase:receipt_list' %}">Receipt List</a></li>
            <li><a href="{% url 'purchase:payment_list_view' %}">Payment Report</a></li>
            <li><a href="#">Purchase Return</a></li>
            <li><a href="#">Purchase Return List</a></li>
            <li><a href="{% url 'purchase:vendor_ledger' %}">Vendor Ledger</a></li>
          </ul>
        </li>
      </ul>
      <!-- Distributor Sales -->
      <ul class="DistributorSalesNav">
        <li><a href="#"><span><i class="fa fa-shopping-cart"></i></span> Distributor Sales</a>
          <ul>
            <li><a href="#">Create Sales Order</a></li>
            <li><a href="{% url 'sales:new_sales_invoice' %}">Cretae Sales Invoice</a></li>
            <li><a href="{% url 'sales:sales_edit_view' %}">Edit Sales Invoice</a></li>
            <li><a href="{% url 'sales:invoice_list' %}">Sales Invoice List</a></li>
            <li><a href="{% url 'sales:open_invoices' %}">Open Invoice List</a></li>
            <li><a href="" ="#">Sales Report</a>
                <div>
                  <ul>
                    <li><a href="{% url 'sales:group_sales_report_select' %}">Group-wise Report</a></li>
                    <li><a href="{% url 'sales:product_segment_sales_report' %}"><sup><i class="fa fa-star" style="color:red;"> New</i></sup>Product Sales Analysis</a></li>
                    <li><a href="{% url 'sales:customer_wise_sales' %}">Customer-wise Report</a></li>
                    <li><a href="{% url 'sales:sales_report' %}">Graphical Report</a></li>
                  </ul>
                </div>
              </li>
            <li><a href="{% url 'sales:billsummary_profit' %}"><sup><i class="fa fa-star" style="color:red;"> New</i></sup>Profit List</a></li>
            <li><a href="{% url 'sales:hsn_report' %}"><sup><i class="fa fa-star" style="color:red;"> New</i></sup>HSN Report</a></li>
            <li><a href="{% url 'sales:collection_list_view' %}">Collection List</a></li>
            <li><a href="#">Sales Return</a></li>
            <li><a href="#">Sales Return List</a></li>
            <li><a href="{% url 'sales:customer_ledger' %}">Customer Ledger</a></li>
          </ul>
        </li>
      </ul>
      <!-- Retail Sales -->
      <ul class="RetailSalesNav">
        <li><a href="#"><span><i class="fa fa-shopping-cart"></i></span> Retail Sales</a>
          <ul>
            <li><a href="{% url 'retailsales:new_sales_invoice' %}">Cretae Sales Invoice</a></li>
            <li><a href="{% url 'retailsales:invoice_list' %}">Sales List</a></li>
            <li><a href="{% url 'retailsales:sales_invoice_edit_view' %}"><sup><i class="fa fa-star" style="color:red;"> New</i></sup>Edit Invoice</a></li>
            <li><a href="#">Sales Return</a></li>
            <li><a href="#">Sales Return Report</a></li>
            <li><a href="#">End of Day Report</a>
              <ul>
                <li><a href="{% url 'retailsales:eod_sales_report' %}">Product Wise Report</a></li>
                <li><a href="#"><sup><i class="fa fa-star" style="color:red;"> New</i></sup> Invoice Wise Report</a></li>
                <li></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Service Sales -->
      <ul class="ServiceSalesNav">
        <li><a href="#"><span><i class="fa fa-shopping-cart"></i></span> Service Sales</a>
          <ul>
            <li><a href="{% url 'servicesales:new_sales_invoice' %}">Cretae Sales Invoice</a></li>
            <li><a href="{% url 'servicesales:invoice_list' %}">Sales List</a></li>
            <li><a href="{% url 'servicesales:user_service_view' %}">User Wise Report</a></li>
            <li><a href="#">Edit Invoice</a></li>
            <li><a href="#">Sales Return</a></li>
            <li><a href="#">Sales Return Report</a></li>
            <li><a href="#">End of Day Report</a>
              <ul>
                <li><a href="#">Product Wise Report</a></li>
                <li><a href="#"><sup><i class="fa fa-star" style="color:red;"> New</i></sup> Invoice Wise Report</a></li>
                <li></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Inventory -->
      <ul class="InventoryNav">
        <li><a href="#"><span><i class="fa fa-truck"></i></span> Inventory</a>
          <ul>
            <li><a href="{% url 'inventory:inventory_template' %}">Current Inventory</a></li>
            <li><a href="{% url 'inventory:opening_inventory' %}">Joining Inventory</a></li>
            <li><a href="{% url 'inventory:inventory_transfer_template' %}">Inventory Transfer</a></li>
            <li><a href="{% url 'inventory:transfer_list' %}">Transfer List</a></li>
            <li><a href="{% url 'inventory:inventory_wastage_template' %}">Inventory Wastage</a></li>
            <li><a href="{% url 'inventory:product_valuation_movement_template' %}">Product Movement Valuation</a></li>
            <li><a href="{% url 'inventory:product_movement_consolidated_view' %}">Consolidated Product Movement</a></li>
            <li><a href="{% url 'inventory:product_monthly_movement_chart' %}"><sup><i class="fa fa-star" style="color:red;"> New</i></sup> Monthly Product Sales</a></li>
          <!--   <li><a href="{% url 'sales:new_sales_invoice' %}">Cretae Sales Invoice</a></li>
            <li><a href="{% url 'sales:invoice_list' %}">Sales Report</a></li> -->
          </ul>
        </li>
      </ul>
      <!-- HR -->
      <!-- <ul class="HR">
        <li><a href="#"><span><i class="fa fa-pied-piper-alt"></i></span>HR</a>
          <ul>
            <li><a href="#">Create Cadre Type</a></li>
            <li><a href="#">Create Leave Type</a></li>
            <li><a href="#">Link Cadre with Staff</a></li>
            <li><a href="#">Link Leave with Cadre</a></li>
            <li><a href="#">Approve Attendance</a></li>
          </ul>
        </li>
      </ul> -->
      <!-- Calendar -->
      <!-- <ul class="calendar">
        <li><a href="#" title="Nav"><span><i class="fa fa-calendar"></i></span> Events &amp Notices</a>
          <ul>
            <li><a href="#"><i class="fa fa-calendar-o"></i> View Calendar</a></li>
            <li><a href="#"><i class="fa fa-list"></i> View Event List</a></li>
            <li><a href="#"><i class="fa  fa-eraser"></i> Delete Events</a></li>
            <li><a href="#"><i class="fa fa-align-justify "></i> New Notice</a></li>
            <li><a href="#"><i class="fa  fa-eraser"></i> Delete Notice</a></li>
          </ul>
        </li>
      </ul> -->
    
      
    </nav>    
	  		
    <div style="padding:1%">
      {% block content %}
      {% endblock %}
    </div>
  </div>
		<script type="text/javascript">
			$('.extra').tooltip({animation: true});
            $(document).ready(function(){

            $('#primary-navigation').infinitypush({
                openingspeed: 300,
                closingspeed: 300
            });

        });
		</script>
    <!-- This is for text color-->
    <link rel="stylesheet" href="{% static 'text_color.css' %}">

	</body>
</html>



