
<!DOCTYPE html>
<html>
	<head>
		<!-- meta for viewport -->
		<meta name=viewport content="width=device-width, initial-scale=1">

    <!-- Pace JS, used for animating page load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-center-circle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		{% block jquery %}
		<!--jquery-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/themes/base/jquery-ui.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>

		<!-- Latest compiled and minified JavaScript for Bootstrap-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!--This ccs link is for font awesome-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!--This is for modernizer-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    
		<!--jQuery Confirmation Plugin CSS for confirmation boxes-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.css">

		<!--jQuery Confirmation Plugin JS for confirmation boxes-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/2.5.1/jquery-confirm.min.js"></script>

		<!--Bootstrap Bootbox Plugin for alert boxes-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

		<!--Bootstrap SelectBoxIt Plugin for styling HTML Select-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>


		{% endblock %}

		{% load staticfiles %}

		<link type ="image/x-icon" href= "{% static 'img/Logo_Favicon.ico' %}" rel="logo icon">
		
		{% block style %}
		{% load staticfiles %}		
		<!--CSS for using the dropdown-->
		<link rel="stylesheet" href="{% static 'infinitypush.css' %}">
		<script src="{% static 'jquery.ma.infinitypush.min.js' %}"></script>
        {% endblock %}

		{% block title %}
		{% endblock %}	
    <style type="text/css">
      body{
        background-color: #f2f5f7;
      }
    </style>


	</head>
	<body>
	<div class="blockcontent">
			<!-- This div is the top-most navigation class -->
			<div id="not_print">
  				<div class="col-md-6">
					<!-- <h2>{{request.user.tenant.name}}</h2> -->
				  </div>
  				<div class="col-md-6" align="right">
  					<h4>
              <ul class="nav pull-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-street-view"></i> Welcome, {{request.user.first_name}} {{request.user.last_name}} <b class="caret"></b></a>
                  <ul class="dropdown-menu" style="background-color: #f2f5f7;">
                    <li><a href="{% url 'password_change' %}"><i class="fa fa-user"></i>  Change Password</a></li>
                    <li><a href="/help/support"><i class="fa fa-wrench"></i>  Contact Support</a></li>
                    <!-- <li class="divider"></li>
                    <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li> -->
                  </ul>
                </li>
              </ul>     
            </h4>
  				</div>
			</div>
			<ul class="nav nav-tabs" id="not_print"></ul>
			<ul class="nav nav-pills navbar-light" id="not_print">
        <li role="presentation" class="navbar-left"> </li>
        {% block dashboard %}
        <li role="presentation" class="navbar-light" title="Click to go to Dashboard"><a href="{% url 'landing' %}"><i class="fa fa-home fa-2x"></i></a></li>
        {% endblock %}
        	<li role="presentation" class="navbar-right"> </li>
	  			<li role="presentation" class="navbar-right"><a href="{% url 'logout' %}" title="Click to logout"><i class="fa fa-power-off fa-2x"></i></a></li>
	  	</ul>

    <nav id="primary-navigation" id="not_print">
      <!-- Tenant -->
      <ul class="Tenant Name">
        <li><a href="#" title="Welcome to school"><b>{{request.user.tenant.name}}</b></a></li>
      </ul>
      <!-- Login Profile -->
      <ul class="Acad Year">
        <li><a href="#"><span><i class="fa fa-sign-in"></i></span> New Login Profile</a>
          <ul>
            <li><a href="#"> Administration Login Profile</a></li>
            <li><a href="#"> Salesperson Login Profile</a></li>
            <li><a href="#"> Purchaseperson Login Profile</a></li>            
          </ul>
        </li>
      </ul>
      <!-- Master -->
      <ul class="MasterNav">
        <li><a href="#"><span><i class="fa fa-database"></i></span>Master</a>
          <ul>
            <li><a href="{% url 'master:zone_data' %}">Zone</a></li>
            <li><a href="{% url 'master:customer_data' %}">Customer</a></li>
            <li><a href="{% url 'master:vendor_data' %}">Vendor</a></li>
            <li><a href="{% url 'master:tax_data' %}">Tax</a></li>
            <li><a href="{% url 'master:dimension_unit_data' %}">Unit &amp Dimension</a></li>
            <li><a href="{% url 'master:manufacbrand_data' %}">Manufacturer</a></li>
            <li><a href="{% url 'master:warehouse_data' %}">Warehouse</a></li>
            <li><a href="{% url 'master:product_data' %}">Product</a></li>
          </ul>
        </li>
      </ul>
      <!-- Accounts -->
      <ul class="AccountNav">
        <li><a href="#"><span><i class="fa fa-inr"></i></span> Accounting</a>
          <ul>
            <li><a href="{% url 'account:account_period_view' %}">Accounting Period</a></li>
            <li><a href="{% url 'account:account_data' %}">Account List</a></li>
            <li><a href="{% url 'account:new_journal_entry' %}">Journal Entry</a></li>
            <li><a href="#">Ledger Group</a></li>
            <li><a href="{% url 'account:new_tax_report' %}">Tax Report</a></li>
            <li><a href="{% url 'account:trial_balance_view' %}">Trial Balance</a></li>
            <li><a href="#">Balance Sheet</a></li>
            <li><a href="{% url 'account:profit_loss_view' %}">Profit and Loss</a></li>
          </ul>
        </li>
      </ul>
      <!-- GST -->
      <ul class="AccountNav">
        <li><a href="#"><span><i class="fa fa-bank"></i></span> GST</a>
          <ul>
            <li><a href="#">GST Dashboard</a></li>
            <li><a href="{% url 'account:new_gst_purchase' %}">Purchase Report</a></li>
            <li><a href="#">Sales Report</a></li>
            <li><a href="#">Payment History</a></li>
          </ul>
        </li>
      </ul>
      <!-- Purchase -->
      <ul class="PurchaseNav">
        <li><a href="#"><span><i class="fa fa-shopping-bag"></i></span> Purchase</a>
          <ul>
            <li><a href="#">Create Purchase Order</a></li>
            <li><a href="{% url 'purchase:purchase_receipt_new' %}">Cretae Purchase Receipt</a></li>
            <li><a href="{% url 'purchase:receipt_list' %}">Purchase Report</a></li>
            <li><a href="{% url 'purchase:payment_list_view' %}">Payment Report</a></li>
            <li><a href="#">Purchase Return</a></li>
            <li><a href="#">Purchase Return Report</a></li>
          </ul>
        </li>
      </ul>
      <!-- Distributor Sales -->
      <ul class="DistributorSalesNav">
        <li><a href="#"><span><i class="fa fa-shopping-cart"></i></span> Distributor Sales</a>
          <ul>
            <li><a href="#">Create Sales Order</a></li>
            <li><a href="{% url 'sales:new_sales_invoice' %}">Cretae Sales Invoice</a></li>
            <li><a href="{% url 'sales:invoice_list' %}">Sales Report</a></li>
            <li><a href="{% url 'sales:collection_list_view' %}">Collection Report</a></li>
            <li><a href="{% url 'sales:sales_return_view' %}">Sales Return</a></li>
            <li><a href="{% url 'sales:return_list_view' %}">Sales Return Report</a></li>
          </ul>
        </li>
      </ul>
      <!-- Retail Sales -->
      <ul class="RetailSalesNav">
        <li><a href="#"><span><i class="fa fa-shopping-cart"></i></span> Retail Sales</a>
          <ul>
            <li><a href="{% url 'retailsales:new_sales_invoice' %}">Cretae Sales Invoice</a></li>
            <li><a href="{% url 'retailsales:invoice_list' %}">Sales Report</a></li>
            <li><a href="{% url 'retailsales:sales_return_view' %}">Sales Return</a></li>
            <li><a href="#">Sales Return Report</a></li>
            <li><a href="{% url 'retailsales:eod_sales_report' %}">End of Day Report</a></li>
          </ul>
        </li>
      </ul>
      <!-- Inventory -->
      <ul class="InventoryNav">
        <li><a href="#"><span><i class="fa fa-truck"></i></span> Inventory</a>
          <ul>
            <li><a href="{% url 'inventory:inventory_template' %}">Current Inventory</a></li>
            <li><a href="{% url 'inventory:opening_inventory' %}">Joining Inventory</a></li>
            <li><a href="{% url 'inventory:inventory_transfer_template' %}">Inter Warehouse Transfer</a></li>
            <li><a href="{% url 'inventory:inventory_wastage_template' %}">Manage Inventory Wastage</a></li>
            <li><a href="{% url 'inventory:product_valuation_movement_template' %}">Product Movement Valuation</a></li>
          <!--   <li><a href="{% url 'sales:new_sales_invoice' %}">Cretae Sales Invoice</a></li>
            <li><a href="{% url 'sales:invoice_list' %}">Sales Report</a></li> -->
          </ul>
        </li>
      </ul>
      <!-- HR -->
      <!-- <ul class="HR">
        <li><a href="#"><span><i class="fa fa-pied-piper-alt"></i></span>HR</a>
          <ul>
            <li><a href="#">Create Cadre Type</a></li>
            <li><a href="#">Create Leave Type</a></li>
            <li><a href="#">Link Cadre with Staff</a></li>
            <li><a href="#">Link Leave with Cadre</a></li>
            <li><a href="#">Approve Attendance</a></li>
          </ul>
        </li>
      </ul> -->
      <!-- Calendar -->
      <!-- <ul class="calendar">
        <li><a href="#" title="Nav"><span><i class="fa fa-calendar"></i></span> Events &amp Notices</a>
          <ul>
            <li><a href="#"><i class="fa fa-calendar-o"></i> View Calendar</a></li>
            <li><a href="#"><i class="fa fa-list"></i> View Event List</a></li>
            <li><a href="#"><i class="fa  fa-eraser"></i> Delete Events</a></li>
            <li><a href="#"><i class="fa fa-align-justify "></i> New Notice</a></li>
            <li><a href="#"><i class="fa  fa-eraser"></i> Delete Notice</a></li>
          </ul>
        </li>
      </ul> -->
    
      
    </nav>    
	  		
    <div style="padding:1%">
      {% block content %}
      {% endblock %}
    </div>
  </div>
		<script type="text/javascript">
			$('.extra').tooltip({animation: true});
            $(document).ready(function(){

            $('#primary-navigation').infinitypush({
                openingspeed: 300,
                closingspeed: 300
            });

        });
		</script>
    <!-- This is for text color-->
    <link rel="stylesheet" href="{% static 'text_color.css' %}">

	</body>
</html>



