{% extends "base.html" %}


{% block title %}

{% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'bill/style.css' %}">

    <title>EMR Select</title>

{% endblock %}

{% block content%}

    <div class="container">

        <div class="row">

            <!--<div class="col-lg-12">
                <h1 class="page-header">Thumbnail Gallery</h1>
            </div>-->

            <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <a class="thumbnail" href="{% url 'sales:invoice_list' %}">
                    <img class="img-responsive" src="http://dummyimage.com/600x450/89d0d9/000000&text=Sales Invoice+List" alt="Sales Invoice List">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <a class="thumbnail" href="{% url 'sales:invoice_new' %}">
                    <img class="img-responsive" src="http://dummyimage.com/600x450/89d0d9/000000&text=New+Sales Invoice" alt="New Sales Invoice">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <a class="thumbnail" href="{% url 'sales:invoice_due' %}">
                    <img class="img-responsive" src="http://dummyimage.com/600x450/89d0d9/000000&text=Update Sales Collection" alt="Update Sales Collection">
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 thumb">
                <a class="thumbnail" href="{% url 'sales:customer_due' %}">
                    <img class="img-responsive" src="http://dummyimage.com/600x450/89d0d9/000000&text=Customer wise Due Analysis" alt="Customer wise Due Analysis">
                </a>
            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock %}