{% extends "base.html" %}

{%block title%}
<title>Student Remarks</title>


{% load static from staticfiles %}

<script src="{% static 'classadmin/attendance.js' %}"></script>

{% endblock %}

{% block content%}
	
<h3>Student Remarks</h3>
<h1></h1>
<div class="row">
	<div class="form-group col-md-4">
		<select class="form-control selectpicker classsection" data-live-search="true">
    	<option disabled selected hidden style='display: none' value>Select Class</option>
			{% for item in classes %}
  				<option data-id="{{item.id}}">{{item.name}}</option>
			{% endfor %}
  		</select> 
	</div>
	<div class="form-group col-md-4">
		<select class="form-control selectpicker student" data-live-search="true">
    	<option disabled selected hidden style='display: none' value>Select Student</option>
			{% for item in items %}
  				<option data-id="{{item.id}}">{{item.name}}</option>
			{% endfor %}
  		</select> 
	</div>
</div>

<div class="row">
	<div class="form-group col-md-8">
		<!--<input type="textarea"  class="form-control" placeholder="Please write your remarks" style='overflow:scroll;'>-->
		<textarea class="form-control" placeholder="Please write your remarks"></textarea>
	</div>
</div>

<button type="button" class='submit btn btn-primary btn-xs'>Post Remark</button>

<h1></h1>


<div class="row">
	{% for remark in remarks %}
		<div class="form-group col-md-8 {{remark.id}}">
			<textarea class="form-control" disabled style="height: 50px; overflow:auto" spellcheck="false">{{remark.comment}}</textarea>
			<p><a style="cursor: pointer;">View all comments</a></p>
			<div hidden>
			{% for studentRemarkComment_studentRemark in remark %}
			<ul><textarea class="form-control" disabled></textarea>{{studentRemarkComment_studentRemark.commented_by.first_name}} {{studentRemarkComment_studentRemark.commented_by.last_name}}: {{studentRemarkComment_studentRemark.comment}}</ul>
			{% endfor %}
			</div>
			<ul><textarea class="form-control" placeholder="Write your comment" style="height: 40px;"></textarea></ul>
		</div>
	{% endfor %}

</div>




<script>
	redirect_url="{% url 'classadmin:attendance_view' %}"
	csrf_token='{{csrf_token}}';
</script>
{% endblock %}