{% extends extension %}

{%block title%}

<title>Purchase Orders</title>

<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700" rel="stylesheet">

{% endblock %} 

{% block content%}
	

<!-- <div class="row">
	<div class="col-xs-4">
    	<div class="panel panel-info">
        	<div class="panel-heading">
            	<label>Total Purchase in last 30 days</label>
            </div>
            <div class="panel-body">
            	<label style="font-size: 25px; font-family: 'Crimson Text', serif;">Rs. <label class='value'></label> </label>
			</div>
		</div>
	</div>
	<div class="col-xs-4">
    	<div class="panel panel-info">
        	<div class="panel-heading">
            	<label>Total Payment Made in last 30 days</label>
            </div>
            <div class="panel-body">
            	<label style="font-size: 25px; font-family: 'Crimson Text', serif;">Rs. <label class='paid'></label> </label>
			</div>
		</div>
	</div>

	<div class="col-xs-4">
    	<div class="panel panel-info">
        	<div class="panel-heading">
            	<label>Total Overdue Amount</label>
            </div>
            <div class="panel-body">
            	<label style="font-size: 25px; font-family: 'Crimson Text', serif;">Rs. <label class='overdue_value'></label> </label>
			</div>
		</div>
	</div>
</div>  -->



<div>
	<!-- <button type="submit" class="btn btn-primary btn-sm all"><i class="fa fa-star"></i> View All Receipts</button>
	<button type="submit" class="btn btn-primary btn-sm unpaid"><i class="fa fa-star"></i> View Unpaid Receipts</button>
	<button type="submit" class="btn btn-danger btn-sm overdue"><i class="fa fa-exclamation-circle"></i> View Overdue Receipts</button> -->
	<button type="submit" class="btn btn-success btn-sm filterbtn"><i class="fa fa-filter"></i> Filter</button>
</div>
<br>
<br>


<div class="table-responsive">
    	<table class="table table-striped table-bordered table-hover" id="receipt_table">
      	<thead class="thead-inverse header-background">
        	<tr>
	            <th class="text-center" hidden></th>
	            <th class="text-center">Order No.</th>
	            <th class="text-center">Vendor Order/Note No</th>
	            <th class="text-center">Order Date</th>
	            <th class="text-center">Delivery Date</th>
	            <th class="text-center">Vendor</th>
	            <th class="text-center">Total Order Amount</th>
	            <!-- <th class="text-center">Download Excel</th> -->
	            <th class="text-center">Is Order Closed</th>
	            <th class="text-center">Convert To Receipt</th>
	            <th class="text-center">Click To Delete</th>
			</tr>
		</thead>
        <tbody>        	
        </tbody>
  	</table> 
</div>

<!-- Modal -->
<div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="filterLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		    	<h4 class="modal-title" id="myModalLabel">Filter By</h4>
		    </div>
	    <div class="modal-body">
		    <form action="" method="post">
		    	<div class="form-group datediv">
					<label for="classname" class="control-label">Filter By Date Range</label>
					<input type="text" class="form-control date_range">
				</div>
		    	<div class="form-group vendordiv">
					<label for="classname" class="control-label">Select Vendor</label>
					<select class="form-control selectpicker vendor_filter" id="vendor_filter" multiple data-live-search="true">
					</select>
				</div>
				<div class="form-group invoicediv">
					<label for="classname" class="control-label">Search by Order No</label>
					<input type="text" class="form-control order_no">
				</div>
				<div class="form-group ordertype">
					<label for="classname" class="control-label">Filter By Order Type</label>
					<select class="form-control selectpicker order_type" id='order_type' data-live-search="true">
						<!-- <option disabled selected hidden style='display: none' value>Select Ledger Group of this account</option> -->
							<option data-id='all'>All Orders</option>
		            		<option data-id='open'>Open Orders</option>
		            		<option data-id='closed'>Closed Orders</option>
					</select>
				</div>				
			</form>    
	   	</div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-primary btn-sm apply_filter">Apply Filters</button>
		    	<button type="button" class="btn btn-primary btn-sm apply_reset">Reset all</button>
		    </div>
	    </div>
	</div>
</div>

<div class="prev_next">
	<div class='add_nav'>
	</div>
</div>

<!-- Sweetalert JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/moment.min.js"></script>

<!-- Bootstrap Datepicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

<!-- Bootstrap Daterangepicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>

{% load static from staticfiles %}

<script src="{% static 'purchase/order_list.js' %}"></script>

<script>
csrf_token='{{csrf_token}}';
$('.purpay').attr('data-toggle',"modal")
$('.purpay').attr('data-target',"#payment")

$('.filterbtn').attr('data-toggle',"modal")
$('.filterbtn').attr('data-target',"#filter")

$('.date_payment').datepicker({
	    autoclose: true,
	    // endDate: moment(),
	    // endDate: '0d',
	     todayHighlight: true,
	    format: 'dd/mm/yyyy',    
});
$(".date_payment").datepicker("setDate", new Date());

</script>

<style type="text/css">
	.modal-dialog {
	width: 80%;
	height: 80%;
	margin: auto;
	padding: 5%;
}

.modal-content {
	height: auto;
	min-height: 80%;
	border-radius: 0;
}
</style>

{% endblock %}



