{% extends extension %}

{%block title%}

<title>Product Catalogue</title>


{% endblock %} 

{% block content%}
	
<div>
	<button type="submit" class="btn btn-primary btn-xs new"><i class="fa fa-star"></i> Add New Product</button>
	<button type="submit" class="btn btn-primary btn-xs new_attr"><i class="fa fa-star"></i> Add New Attribute</button>
	<a href="{% url 'master:import_product' %}"><button class="btn btn-primary btn-xs"><i class="fa fa-upload"></i> Bulk Upload Using Excel</button></a>
</div>
<h1></h1>
<!-- <div class="col-md-4  alert alert-danger">
	
</div>
<div class="col-md-4  alert alert-danger">
	
</div> -->
{% if messages %}
	{% for msg in messages %}       
        <div class="alert alert-{{msg.level_tag}}" role="alert">
 	{{msg.level_tag|title}}: {{msg.message}}
	</div>
    {% endfor %}
{% endif %}


<div class="table-responsive">
    	<table class="table table-striped table-bordered table-hover" id="product_table">
      	<thead class="thead-inverse header-background">
        	<tr>
	            <th class="text-center" hidden>ID</th>
	            <th class="text-center">Name</th>
	            <th class="text-center">HSN Code</th>
	            <th class="text-center">SKU</th>
	            <th class="text-center">Default Unit</th>
	            <th class="text-center">Brand</th>
	            <th class="text-center">Group</th>
	            <th class="text-center">Remarks</th>
	            <th class="text-center">Add Retail sales rate</th>
	            <th class="text-center">Download Barcode</th>
          	</tr>
		</thead>
        <tbody>        	
        </tbody>
  	</table> 
</div>
<!-- Modal -->
<div class="modal fade" id="event" tabindex="-1" role="dialog" aria-labelledby="eventLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		    	<h4 class="modal-title" id="myModalLabel">Add New Product</h4>
		    </div>
	    <div class="modal-body">
		    <form action="" method="post">
		    	<div>
					<div class="error_box alert alert-danger" hidden>
						<p class='year_error' hidden>Product with same SKU already exist</p>
					</div>
				</div>
				<div class="form-group namediv">
					<label for="classname" class="control-label">Product name</label>
					<input type="text"class="form-control name" placeholder="Complete name, eg: Cotton Round Tee XL">
				</div>
				<div class="form-group skudiv">
					<label class="control-label">Product HSN Code</label>
					<input type="text" class="form-control hsn" placeholder="Product HSN Code">		
				</div>
				<div class="form-group skudiv">
					<label class="control-label">Product SKU/Code</label>
					<input type="text" class="form-control sku" placeholder="Proper SKU, eg: CRTXL (for Cotton Round Tee XL)">		
				</div>
				<div class="form-group skudiv">
					<label class="control-label">Product Barocde Data</label>
					<input type="text" class="form-control barcode_new" placeholder="Product BarCode Data">		
				</div>
				<!-- <div class="form-group vattypediv">
					<label class="control-label">VAT Type</label>
					<select class="form-control selectpicker vattype" data-live-search="true">
						<option disabled selected hidden style='display: none' value>Select VAT Type</option>
						<option data-id="0">NO VAT</option>
						<option data-id="1">VAT on MRP</option>
						<option data-id="2">VAT on Actual Price</option>
					</select>
				</div> -->
				<div class="form-group taxdiv">
					<label class="control-label">CGST</label>
					<select class="form-control selectpicker cgst" id='tax_cgst' data-live-search="true">
						<option disabled selected hidden style='display: none' value>Select CGST</option>
					</select>
				</div>
				<div class="form-group taxdiv">
					<label class="control-label">SGST</label>
					<select class="form-control selectpicker sgst" id='tax_sgst' data-live-search="true">
						<option disabled selected hidden style='display: none' value>Select SGST</option>
					</select>
				</div>
				<div class="form-group taxdiv">
					<label class="control-label">IGST</label>
					<select class="form-control selectpicker igst" id='tax_igst' data-live-search="true">
						<option disabled selected hidden style='display: none' value>Select IGST</option>
					</select>
				</div>
				<div class="form-group reorderdiv">
					<label class="control-label">Re-order Point</label>
					<input type="text" class="form-control reorder" placeholder="If you want to reorder after 10 SKU (in default-unit), enter: 10">		
				</div>
				<div class="form-group unitdiv">
					<label class="control-label">Default Unit</label>
					<select class="form-control selectpicker unit" id='unit' data-live-search="true">
						<option disabled selected hidden style='display: none' value>Select Default Unit</option>						
					</select>
				</div>
				<div class="form-group branddiv">
					<label class="control-label">Brand</label>
					<select class="form-control selectpicker brand" id='brand' data-live-search="true">
						<option disabled selected hidden style='display: none' value>Select Product Brand</option>						
					</select>
				</div>
				<div class="form-group groupdiv">
					<label class="control-label">Product Group</label>
					<select class="form-control selectpicker group" id='group' data-live-search="true">
						<option disabled selected hidden style='display: none' value>Select Product Group</option>						
					</select>
				</div>
				<div class="form-group has_batchdiv">
					<label class="control-label">Will this item be maintained batch-wise</label>
					<input type="checkbox" class="has_batch">		
				</div>
				<div class="form-group has_instancediv">
					<label class="control-label">Will this item be have individual instance/serial-no</label>
					<input type="checkbox" class="has_instance">		
				</div>
				<div class="form-group has_attributediv">
					<label class="control-label">Does this item have additional attribute</label>
					<input type="checkbox" class="has_attribute">		
				</div>
				
    		    <div id="attribute_details" hidden>
                	<div id="attr0" class='attr'>
						<div class="form-group">
							<label class="control-label">Select Attribute</label>  						  
							<select class="form-control select attribute" id='selattr0'>
								<option disabled selected hidden style='display: none' value>Select Attribute</option>
								<!-- {% for item in dimensions %}
  									<option data-id="{{item.id}}">{{item.name}}</option>
								{% endfor %} -->
							</select>							
						</div>
						<div class="form-group">
							<label class="control-label">Attribute Value</label>  
							<input type="text" class="form-control value"  placeholder="If arribute is colour, value can be: Blue, White, etc.">							
						</div>
					</div>
				
					<button id="add-more" name="add-more" class="btn btn-xs btn-primary">Add More</button>					
				
				</div>
			</form>    
	   	</div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-primary submit">Submit</button>
		    </div>
	    </div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="new_attr" tabindex="-1" role="dialog" aria-labelledby="new_attrLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		    	<h4 class="modal-title" id="myModalLabel">Add New Attribute</h4>
		    </div>
	    <div class="modal-body">
		    <form action="" method="post">
		    	<div>
					<div class="error_box alert alert-danger" hidden>
						<p class='year_error' hidden>Attribute with same name already exist</p>						
					</div>
				</div>
				<div class="form-group namediv">
					<label class="control-label">Attribute name</label>
					<input type="text"class="form-control attributename" placeholder="Name: Eg: Colour, Size, Material, etc">
				</div>				
			</form>    
	   	</div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-primary submitattribute">Submit</button>
		    </div>
	    </div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal_product_details" tabindex="-1" role="dialog" aria-labelledby="modal_product_detailsLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		    	<h4 class="modal-title" id="myModalLabel">Product Details</h4>
		    </div>
	    <div class="modal-body">
		    <form action="" method="post">
		    	<div class="form-group iddiv" hidden>
					<label for="classname" class="control-label"></label>
					<input type="text" class="form-control id_data_prod" disabled>
				</div>
				<div class="form-group namediv">
					<label for="classname" class="control-label">Product name</label>
					<input type="text" class="form-control name_data_prod editable" disabled>
				</div>
				<div class="form-group skudiv">
					<label class="control-label">Product SKU/Code</label>
					<input type="text" class="form-control sku_data_prod editable" disabled>		
				</div>
				<div class="form-group skudiv">
					<label class="control-label">Product Barcode</label>
					<input type="text" class="form-control barcode_data_prod editable" disabled>		
				</div>
				<!-- <div class="form-group vattypediv">
					<label class="control-label">VAT Type</label>
					<select class="form-control selectpicker vattype_data_prod" data-live-search="true">
						<option data-id="0">NO VAT</option>
						<option data-id="1">VAT on MRP</option>
						<option data-id="2">VAT on Actual Price</option>
					</select>
				</div>
				<div class="form-group taxdiv">
					<label class="control-label">Tax</label>
					<select class="form-control selectpicker tax_data_prod" id='tax' data-live-search="true">
						<option disabled selected hidden style='display: none' value>Select Tax Structure</option>
					</select>
				</div> -->
				<div class="form-group reorderdiv">
					<label class="control-label">CGST %</label>
					<select class="form-control select cgst editable" id='cgst_data_prod' disabled>
						<option disabled selected hidden style='display: none' value>CGST</option>
					</select>
				</div>
				<div class="form-group reorderdiv">
					<label class="control-label">SGST %</label>
					<select class="form-control select cgst editable" id='sgst_data_prod' disabled>
						<option disabled selected hidden style='display: none' value>SGST</option>
					</select>
				</div>
				<div class="form-group reorderdiv">
					<label class="control-label">IGST %</label>
					<select class="form-control select cgst editable" id='igst_data_prod' disabled>
						<option disabled selected hidden style='display: none' value>IGST</option>
					</select>
				</div>
				<!-- <div class="form-group reorderdiv">
					<label class="control-label">Re-order Point</label>
					<input type="text" class="form-control reorder_data_prod" placeholder="If you want to reorder after 10 SKU (in default-unit), enter: 10" disabled>		
				</div> -->
				<!-- <div class="form-group unitdiv">
					<label class="control-label">Default Unit</label>
					<select class="form-control selectpicker unit_data_prod" id='unit_data_prod' data-live-search="true" disabled>
						<option disabled selected hidden style='display: none' value>Select Default Unit</option>						
					</select>
				</div>
				<div class="form-group branddiv">
					<label class="control-label">Brand</label>
					<select class="form-control selectpicker brand_data_prod" data-live-search="true"disabled>
						<option disabled selected hidden style='display: none' value>Select Product Brand</option>						
					</select>
				</div> -->
				<!-- <div class="form-group groupdiv">
					<label class="control-label">Product Group</label>
					<select class="form-control selectpicker group" id='group' data-live-search="true" disabled>
						<option disabled selected hidden style='display: none' value>Select Product Group</option>						
					</select>
				</div> -->
				<!-- <div class="form-group has_batchdiv">
					<label class="control-label">Will this item be maintained batch-wise</label>
					<input type="checkbox" class="has_batch_data_prod" disabled>		
				</div>
				<div class="form-group has_instancediv">
					<label class="control-label">Will this item be have individual instance/serial-no</label>
					<input type="checkbox" class="has_instance_data_prod" disabled>		
				</div>
				<div class="form-group has_attributediv">
					<label class="control-label">Does this item have additional attribute</label>
					<input type="checkbox" class="has_attribute_data_prod" disabled>		
				</div> -->
				
    		    <!-- <div id="attribute_details" hidden>
                	<div id="attr0" class='attr'>
						<div class="form-group">
							<label class="control-label">Select Attribute</label>  						  
							<select class="form-control select attribute" id='selattr0'>
								<option disabled selected hidden style='display: none' value>Select Attribute</option>
							</select>							
						</div>
						<div class="form-group">
							<label class="control-label">Attribute Value</label>  
							<input type="text" class="form-control value"  placeholder="If arribute is colour, value can be: Blue, White, etc.">							
						</div>
					</div>
				
					<button id="add-more" name="add-more" class="btn btn-xs btn-primary">Add More</button>					
				
				</div> -->
			</form>    
	   	</div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-primary edit">Edit</button>
		    	<button type="button" class="btn btn-primary update">Update &amp Save</button>
		    </div>
	    </div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_product_rate" tabindex="-1" role="dialog" aria-labelledby="modal_product_rateLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		    	<h4 class="modal-title" id="myModalLabel">Add sales rate</h4>
		    </div>
	    <div class="modal-body">
		    <form action="" method="post">
		    	<div class="form-group iddiv" hidden>
					<label for="classname" class="control-label">ID</label>
					<input type="text" class="form-control id_rate_prod" disabled>
				</div>
				<div class="form-group namediv">
					<label for="classname" class="control-label">Product name</label>
					<input type="text" class="form-control name_rate_prod" disabled>
				</div>
				<div class="form-group skudiv">
					<label class="control-label">Product SKU/Code</label>
					<input type="text" class="form-control sku_rate_prod" disabled>
				</div>
				<div class="form-group taxdiv">
					<label class="control-label">Sales Rate</label>
					<input type="number" class="form-control sales_rate_prod">
				</div>
				<div class="form-group taxdiv">
					<label class="control-label">Is tax included in the rate?</label>
					<input type="checkbox" class="tax_rate_prod" checked>
				</div>
			</form>    
	   	</div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-primary submitrate">Submit</button>
		    </div>
	    </div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal_barcode" tabindex="-1" role="dialog" aria-labelledby="modal_product_rateLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		    	<h4 class="modal-title" id="myModalLabel">Print Barcode</h4>
		    </div>
	    <div class="modal-body">
		    <form action="" method="post">
		    	<div class="form-group iddiv" hidden>
					<label for="classname" class="control-label">ID</label>
					<input type="text" class="form-control id_barcode" disabled>
				</div>
				<div class="form-group namediv">
					<label for="classname" class="control-label">Product name</label>
					<input type="text" class="form-control name_barcode" disabled>
				</div>				
			</form>    
	   	</div>
		    <div class="modal-footer">
		    	<a href="" class="barcodetag">Get Barcode</button>
		    </div>
	    </div>
	</div>
</div>

<!-- Sweetalert JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


{% load static from staticfiles %}

<script src="{% static 'master/product.js' %}"></script>

<script>

$('.new').attr('data-toggle',"modal")
$('.new').attr('data-target',"#event")

$('.new_attr').attr('data-toggle',"modal")
$('.new_attr').attr('data-target',"#new_attr")

csrf_token='{{csrf_token}}';
</script>

<style type="text/css">
td a { display: block; width: 100%; height: 100%; }
</style>

{% endblock %}



