{% extends extension %}

{% block title %}
<title>
    Account Wise Journal Entries 
</title>

{% load static from staticfiles %}
{% endblock %}

{% block content%}
	<h2 align="center">Detiled Journal Entries</h2>
  <h1></h1>
  <h3 align="center">Account Name: {{account.name}}</h3>
  <h1></h1>  
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover" id="account">
      <thead class="thead-inverse header-background">
    	 <tr>
        <th class="text-center">Transaction Id</th>
        <th class="text-center">Date</th>
        <th class="text-center">Transaction Type</th>
        <th class="text-center">Transaction Remarks</th>
      	<th class="text-center">Debit Value</th>
        <th class="text-center">Credit Value</th>
      </tr>
  	 </thead>
     <tbody>
     {% if entries %}
      {% for item in entries %}
        <tr align="center">
      	 <td><a href="/account/journalview/{{item.journal.id}}">{{item.journal.id}}</a></td>
         <td>{{item.journal.date|date:'d-m-Y'}}</td>
         {% if item.transaction_type == 1 %}
         <td align="left">Debit</td>
         <td>{{item.journal.remarks}}</td>
         <td>{{item.value}}</td>
         <td align="left"></td>
         {% else %}
         <td align="right">Credit</td>
         <td>{{item.journal.remarks}}</td>
         <td></td>
         <td>{{item.value}}</td>
         {% endif %}
        </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td class="text-center" colspan="6">No Data Exist</td>
      </tr>
      {% endif %}
     </tbody>
    </table> 
  </div>

{% endblock %}




