{% extends extension %}

{% block title %}
<title>
    Accounts Statement
</title>
<!-- Datatable CSS-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<!-- Datatable jQuery-->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
{% load static from staticfiles %}
{% endblock %}

{% block content%}

	{% block heading %}
  {% if call == 'p-l' %}
	<h3>Profit &amp Loss Statement</h3>
  <a href="#"><button type="button" class='addmore btn btn-primary btn-xs'><i class="fa fa-file-excel-o"></i>  Download Excel</button></a>
  {% elif call == 'b-s' %}
  <h3>Balance Sheet Statement from {{start|date:"d-M-Y"}} till {{date|date:"d-M-Y"}}</h3>
  {% endif %}
	{% endblock %}	
	
	{% block details %}
	<div></div>
  <h1></h1>	
  <div class="table-responsive col-xs-6 col-md-6 col-md-offset-3">
    <table class="table table-striped table-bordered table-hover" id="trail_balance">
      <thead class="thead-inverse header-background">
          <tr>
            <th class="text-center">Account</th>
            <th class="text-center">Total</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
    </table> 
  </div>

	{% endblock %}

  <script type="text/javascript">
		csrf_token = '{{ csrf_token }}';
 		accounts=JSON.parse('{{accounts |escapejs}}');
    console.log(accounts)
  </script>
  {% if call == 'p-l' %}
  <script src="{% static 'account/profit_loss.js' %}"></script>
  {% elif call == 'b-s' %}
  <script src="{% static 'account/balance_sheet.js' %}"></script>
  {% endif %}

{% endblock %}



