{% extends extension %}

{%block title%}

<title>Bill-Wise Profit Summary</title>

<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700" rel="stylesheet">

{% endblock %} 

{% block content%}
	
<!-- <div>
	<button type="submit" class="btn btn-primary btn-sm purpay"><i class="fa fa-rupee"></i> Sales Collection</button>
</div> -->
<div>
	<button type="submit" class="btn btn-success btn-sm filterbtn"><i class="fa fa-filter"></i> Filter</button>
</div>

<br>

<div class="table-responsive">
    	<table class="table table-striped table-bordered table-hover" id="profit_table">
      	<thead class="thead-inverse header-background">
        	<tr>
        		<th colspan="10" class="text-center">Bill-Wise Profit Summary</th>
        	</tr>
        	<tr>
	            <th class="text-center" hidden></th>
	            <th class="text-center">Invoice No.</th>
	            <th class="text-center">Invoice Date</th>
	            <th class="text-center">Customer</th>
	            <th class="text-center">Total Taxable Amount</th>
	            <th class="text-center">Total Purchase Amount</th>
	            <th class="text-center">Total Profit/Loss</th>
	            <th class="text-center">Total Payable Amount</th>
			</tr>
		</thead>
        <tbody>        	
        </tbody>
  	</table> 
</div>


<!-- Modal -->
<div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="filterLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		    	<h4 class="modal-title" id="myModalLabel">Filter By</h4>
		    </div>
	    <div class="modal-body">
		    <form action="" method="post">
		    	<div class="form-group datediv">
					<label for="classname" class="control-label">Filter By Invoice Date Range</label>
					<input type="text" class="form-control date_range">
				</div>
		    	<!-- <div class="form-group vendordiv">
					<label for="classname" class="control-label">Select Customer</label>
					<select class="form-control selectpicker customer_filter" id="customer_filter" multiple data-live-search="true">
						<option disabled selected hidden style='display: none' value>Select Customer(s)</option>				
					</select>
				</div>
				<div class="form-group invoicediv">
					<label for="classname" class="control-label">Filter by Sales Invoice No</label>
					<input type="text" class="form-control invoice_no">
				</div> -->
			</form>    
	   	</div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-primary apply_filter">Apply Filter</button>
		    	<button type="button" class="btn btn-primary apply_reset">Reset</button>
		    </div>
	    </div>
	</div>
</div>

<div class="prev_next">
	<div class='add_nav'>
	</div>
</div>

<!-- Sweetalert JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/moment.min.js"></script>

<!-- Bootstrap Datepicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

<!-- Bootstrap Daterangepicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>


{% load static from staticfiles %}

<script src="{% static 'sales/billwise_profit.js' %}"></script>

<script>
csrf_token='{{csrf_token}}';
// $('.purpay').attr('data-toggle',"modal")
// $('.purpay').attr('data-target',"#payment")

$('.filterbtn').attr('data-toggle',"modal")
$('.filterbtn').attr('data-target',"#filter")


</script>

{% endblock %}



