{% extends extension %}

{% load crispy_forms_tags %}


{%block title%}

<title>Sales Invoice</title>


{% endblock %} 

{% block content%}
	
<div class="col-xs-12 text-center">
  <h3>SALES INVOICE</h3>
</div>

<br>
<br>



<div class="row">
	<div class="form-group col-xs-3">
		<label class="control-label">Select Warehouse</label>
		<select class="form-control selectpicker warehouse" id="warehouse" data-live-search="true">
			<option disabled selected hidden style='display: none' value>Select Warehouse</option>				
		</select>		 
	</div>

	<div class="form-group col-xs-3">
		<label class="control-label">Select Customer</label>
		<select class="form-control selectpicker customer" id="customer" data-live-search="true">
			<option disabled selected hidden style='display: none' value>Select Customer</option>				
		</select>		 
	</div>
	<div class="form-group col-xs-3">
		<label class="control-label">Invoice Date</label>				 
		<input class="form-control date">
	</div>	
		
</div>


<div class="col-xs-12">	
<table class="table table-striped table-bordered details">
	<thead>
    	<tr>
        	<th hidden></th>
        	<th colspan="1"><h5></h5></th>
        	<th colspan="3"><h5>Item</h5></th>
            <th colspan="1"><h5>Qty</h5></th>
            <th colspan="1" hidden></th>
            <!-- <th colspan="1"><h5>Free w/o tax</h5></th>
            <th colspan="1"><h5>Free with tax</h5></th> -->
            <th colspan="1"><h5>Unit</h5></th>
            <th colspan="1" hidden></th>
            <th colspan="1" hidden></th>
            <th colspan="1" hidden></th>
            <th colspan="1"><h5>Sales Price</h5></th>
            <th colspan="1"><h5>Disc. Type-1</h5></th>
            <th colspan="1"><h5>Disc. Value-1</h5></th>
            <th colspan="1"><h5>Disc. Type-2</h5></th>
            <th colspan="1"><h5>Disc. Value-2</h5></th>
            <th colspan="1"><h5>Taxable Total</h5></th>
            <th colspan="1"><h5>CGST %</h5></th>
            <th colspan="1"><h5>CGST Amt</h5></th>
            <th colspan="1"><h5>SGST %</h5></th>
            <th colspan="1"><h5>SGST Amt</h5></th>
            <th colspan="1"><h5>IGST %</h5></th>
            <th colspan="1"><h5>IGST Amt</h5></th>
            <th colspan="1"><h5>Total</h5></th>
        </tr>
	</thead>
	<tbody>
		<tr class='data'>
			<td hidden><input class="id"></td>
			<td colspan="1" class='first'><button style="display: none;" class="delete btn btn-danger btn-xs">-</button></td>
			<td colspan="3"><input class="form-control name"></td>
            <td colspan="1"><input class="form-control qty"></td>
            <td colspan="1" class="qty_avl" hidden>0</td>
            <!-- <td colspan="1"><input class="form-control free"></td>
            <td colspan="1"><input class="form-control freet"></td> -->
			<td colspan="1">
				<select class="form-control selectpicker unit" id='unit'>
				</select>
			</td>
			<td colspan="1" hidden="" class="unit_multi"></td>
            <td colspan="1" hidden class="tsr"></td> <!-- Tentative Sales Price-->
            <td colspan="1" hidden class="mrp"></td> <!-- MRP-->
            <td colspan="1"><input hidden class="form-control sr"></td>
            <td colspan="1"><select class="form-control selectpicker dt">
					<option data-id=0 title="-">No Discount</option>
					<option data-id=1 title=%>Percent(%)</option>
					<option data-id=2 title="V">Value(V)</option>
				</select>
			</td>
            <td colspan="1"><input class="form-control dv"></td>
            <td colspan="1"><select class="form-control selectpicker dt2">
					<option data-id=0 title="-">No Discount</option>
					<option data-id=1 title=%>Percent(%)</option>
					<option data-id=2 title="V">Value(V)</option>
				</select>
			</td>
            <td colspan="1"><input class="form-control dv2"></td>
            <td colspan="1" class="total">0.00</td>
            <td colspan="1"><input class="form-control cgstp"></td>
            <td colspan="1" class="cgstv"></td>
            <td colspan="1"><input class="form-control sgstp"></td>
            <td colspan="1" class="sgstv"></td>
            <td colspan="1"><input class="form-control igstp"></td>
            <td colspan="1" class="igstv"></td>
            <td colspan="1" class="tv">0.00</td>
		</tr>
	</tbody>
</table>
</div>

<!-- Modal -->
<div class="modal fade" id="productdetails" tabindex="-1" role="dialog" aria-labelledby="productdetailsLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
		    	<h4 class="modal-title" id="myModalLabel">Select Product</h4>
		    </div>
	    	<div class="modal-body">
		   		<table class="table table-striped table-bordered prod_data">
					<thead>
				    	<tr>
				        	<th colspan="1"><h5>Tentative Sales Price</h5></th>
				            <th colspan="1"><h5>MRP</h5></th>
				            <th colspan="1"><h5>Stock Available</h5></th>
				            <th colspan="1"><h5>Default Unit</h5></th>
				        </tr>
					</thead>
					<tbody>
					</tbody>
				</table>    
			    <!-- <div class="modal-footer">
			    	<button type="button" class="btn btn-primary submit">Submit</button>
			    </div> -->
			</div>
	    </div>
	</div>
</div>

<button type="button" class='addmore btn btn-success btn-xs'>+ Add Product</button>
<br>
<br>

<div class="row text-right" hidden>
	<div class="col-xs-6 col">
		<table class="table metadata boderless">
			<tr>
				<td>Grand Discount (On subtotal)</td>
				<td colspan="1"><select class="form-control select gdt">
					<option data-id=0>No Disc.</option>
					<option data-id=1>Percent(%)</option>
					<option data-id=2>Value</option>
					</select>
				</td>
				<td>Discount Value</td>
				<td><input class="form-control gd"></td>
			</tr>						
		</table>
	</div>
</div>
<div class="row text-right">
	<div class="col-xs-6">
		<table class="table metadata boderless">
			<tr>
				<td colspan="4">Payment Due date</td>
				<td colspan="4"></td>
				<td colspan="1"><input class="form-control duedate"></td>

			</tr>						
		</table>
	</div>
	<div class="col-xs-4 col-xs-offset-2">
		<table class="table metadata boderless">
			<tr>
				<td>Subtotal</td>
				<td>Rs.</td>
		        <td><span class='subtotal_receipt'>0.00</span></td>
			</tr>
			<!-- <tr>
				<td>Grand Discount</td>
				<td>Rs.</td>
		        <td class='grand_discount'>0.00</td>
			</tr> -->
			<tr>
				<td>Tax Total</td>
				<td>Rs.</td>
		        <td class='taxtotal_receipt'>0.00</td>
			</tr>
			<tr>
				<td>Total Payable</td>
				<td>Rs.</td>
		        <td class='total_receipt'>0.00</td>
			</tr>
		</table>
	</div>
</div>


<button type="button" class="btn btn-primary submit">Generate Invoice</button>

<!-- Sweetalert JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/moment.min.js"></script>

<!-- Bootstrap Datepicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>


{% load static from staticfiles %}

<script src="{% static 'sales/invoice.js' %}"></script>

<style type="text/css">
	.boderless td, .boderless th{
		border: none;
	}
</style>

<script>
	csrf_token='{{csrf_token}}';

	$('.date').datepicker({
	    autoclose: true,
	     todayHighlight: true,
	    format: 'dd/mm/yyyy',    
	});
	$('.duedate').datepicker({
	    autoclose: true,
	    todayHighlight: true,
	    format: 'dd/mm/yyyy',    
	});
	$(".date").datepicker("setDate", new Date());
</script>

{% endblock %}



