{% extends "base.html" %}

{%block title%}
<title>Statutory Structure Creation</title>

{% endblock %}

{% block content%}
	
<h3>Statutory Structure Creation:</h3>
<h4 style="margin-bottom: 20px;">ESI (Employer)</h4>
<h1></h1>

<div class="row" style="margin-bottom: 20px;">
	<div class="form-group col-xs-8 col-md-6">
		<label class="control-label">Statutory Structure Name (Employer)</label>
		<input type="text" required="" class="form-control structurename"  placeholder="Please input name of fee structure."> 
	</div>
</div>


<div>	
	<div class="row">
		<div class="form-group col-xs-8 col-md-6">
			<p class="control-label">Select Account for Employer ESI Liability (under Ledger Group: Salary)</p>
			<select class='form-control selectpicker account' data-live-search="true">
				<option disabled selected hidden style='display: none' value>Select Account Name</option>
				{% for i in accounts %}
					<option data-id="{{i.id}}">{{i.name}}</option>
				{% endfor %}
			</select>
		</div>	
		<div class="form-group col-xs-1 col-md-1">			
		</div>
		<div class="form-group col-xs-3 col-md-5 ">
			<p class="control-label accounthover">Click here for hint.</p>			
		</div>	
	</div>
	<div>
		<fieldset class="form-group">
		<form class="rule">
		    <label>Select ESI Rules</label>
		    <div class="form-check" style="margin-bottom: 20px;">
		      <p class="form-check-label">
		        <input type="radio" class="form-check-input rule" name="optionsRadios" id="optionsRadios1" value="1">
		        Rule 1: ESI=Eligible Salary X 4.75% (define multiplier)
		    </p>
		    </div>
		    <div class="form-check" style="margin-bottom: 20px;">
		    <p class="form-check-label">
		        <input type="radio" class="form-check-input rule" name="optionsRadios" id="optionsRadios2" value="2">
		        Rule 2: ESI=Salary Ceiling X 4.75% (define multiplier and ceiling)
		    </p>
		    </div>	    
		    <div class="form-check" style="margin-bottom: 20px;">
		    <p class="form-check-label">
		        <input type="radio" class="form-check-input rule" name="optionsRadios" id="optionsRadios2" value="3">
		        Rule 3: ESI= Predefined amount
		    </p>
		    </div>
		</form>
		</fieldset>
	</div>

	<div style="margin-bottom: 40px;">
		<p><b>NOTE: Eligible salary is determined by summation of salary structures with ESI/PF(includes EPF, EPS,EDIL) account selected.</b></p>
	</div>

	<div class="row">
		<div class="form-group col-xs-3 col-md-3 other ceiling" hidden>
			<p class="control-label">ESI Ceiling</p>
			<input type="text" required="" class="form-control ceiling"  placeholder="Updated to Rs. 21000 as on 1st Jan, 2017"> 
		</div>
		<div class="form-group col-xs-3 col-md-3 other" hidden>
			<p class="control-label">ESI Multiplier (In %)</p>
			<input type="text" required="" class="form-control multiplier"  placeholder="Normally 4.75%"> 
		</div>
		<div class="form-group col-xs-3 col-md-3 predefined" hidden>
			<p class="control-label">ESI Predefined Value</p>
			<input type="text" required="" class="form-control predefined"  placeholder="Please enter ESI amount"> 
		</div>
	</div>
</div>

<h1></h1>

<button type="button" class='submit btn btn-primary btn-xs' disabled="true" title="Click submit to record fee structure.">Submit</button>

<button type="button" class='reset btn btn-primary btn-xs'>Reset</button>


<!-- Sweetalert JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


{% load static from staticfiles %}

<script src="{% static 'salary/esi_employer.js' %}"></script>


<script>
	csrf_token='{{csrf_token}}';	
</script>

{% endblock %}