{% extends "base.html" %}

{% load crispy_forms_tags %}


{%block title%}

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<!-- Fullcalender JS & CSS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">

<title>Calender Events</title>
{% endblock %} 

{% block content%}
	
	<div id='calendar'></div>

	<script>
		$(document).ready(function() {

    		// page is now ready, initialize the calendar...

    		$('#calendar').fullCalendar({
        		// put your options and callbacks here
    		})

		});
	</script>
{% endblock %}



