{% extends "eduadmin/list_base.html" %}

{% block table %}
<div class="row">
  <div class="form-group col-xs-12 col-md-8"">
    {% if period %}
    <h4>Total number of period: {{period}}</h4>
    {% else %}
    <h4>Total  number of period is yet to be entered. Click <a href="{% url 'eduadmin:total_period_entry' %}">here</a> to enter total number of periods in a day</h4>
    {% endif %}
  </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="account">
      <thead class="thead-inverse header-background">
        {% block table_header %}
          <tr>
            <th class="text-center">Sl. No</th>
            <th class="text-center">Class Group</th>
            <th class="text-center">Class Name</th>
            <th class="text-center"></th>
          </tr>
          {% endblock %}
        </thead>
        <tbody>
          {% for item in items %}
            <tr align="center">
              <td>{{forloop.counter}}</td>
              <td><a href="#">{{item.classgroup.name}}</a></td>
              <td><a href="{{item.get_absolute_url}}">{{item.name}}</a></td>
              <td><a href="{{item.get_absolute_url}}addperiod">Add/View Period</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table> 
    </div>
{% endblock %}



