{% extends "base.html" %}

{%block title%}
<title>Daily Attendance Register</title>

{% load static from staticfiles %}

<script src="{% static 'classadmin/attendance_view.js' %}"></script>

{% endblock %}

{% block content%}
	
<h3>View Attendance Register</h3>
<h1></h1>
<div class="row">
	<div class="form-group col-xs-4 col-md-3">
		<select class="form-control classsection">
    	<option disabled selected hidden style='display: none' value>Select Class</option>
			{% for item in items %}
  				<option data-id="{{item.id}}">{{item.name}}</option>
			{% endfor %}
  	</select> 
	</div>
</div>
<div class="row">
	<div class="form-group col-xs-4 col-md-3 datediv">
		<label for="date" class="control-label">Date</label>
		<input type="date" required="" class="form-control date">
	</div>
</div>

<button type="button" class='check btn btn-primary btn-sm'>Check for attendance</button>
<h1></h1>

<div class="table-responsive">	
	<table id="student_table" class="table table-striped table-bordered">
		<thead class="bg-primary">
	  		<tr>
	  			<th class="header" hidden=true>Student Primary Key</th>
	  			<th class="header" title="This is the system generated code/key for student.">Student System Key</th>
		    	<th class="header" title = "This is the internal school maintianed  code/key for student.">Student School Key</th>
		    	<th>First Name</th>
	    		<th>Last Name</th>
	    		<th>Present</th>
	    		<th>Reason for absence</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

</div>

<button type="button" class='reset btn btn-primary btn-xs'>Reset</button>


<script>
	csrf_token='{{csrf_token}}';
</script>
{% endblock %}