{% extends extension %}

{%block title%}
<title>Daily Attendance Register</title>

{% load static from staticfiles %}

<script src="{% static 'classadmin/attendance_edit.js' %}"></script>

{% endblock %}

{% block content%}
	
<h3>Edit Attendance Entry</h3>
<h1></h1>
<div class="row">
	<div class="form-group col-xs-4 col-md-3">
		<select class="form-control selectpicker classsection" data-live-search="true">
    		<option disabled selected hidden style='display: none' value>Select Class</option>
			{% for item in items %}
  			<option data-id="{{item.id}}">{{item.name}}</option>
			{% endfor %}
  		</select> 
	</div>
</div>
<div class="row">
	<div class="form-group col-xs-4 col-md-3">
		<label for="year" class="control-label">Academic Year</label>
		<input type="number" required="" class="form-control year"  min="1960" max="2050" placeholder="Please input academic year." disabled="True"> 
	</div>
</div>
<div class="row">
	<div class="form-group col-xs-4 col-md-3 datediv" hidden=true>
		<label for="date" class="control-label">Date</label>
		<input type="date" required="" class="form-control date"  placeholder="Please input date for day to edit attendance">
	</div>
</div>
<div class="row">
	<div class="form-group col-xs-10 col-md-6 studentdiv" hidden='true'>
	<label class="control-label">Select Student</label>
		<select class='form-control selectpicker student' id='student' data-live-search="true" disabled='true'>
      		<option disabled selected hidden style='display: none' value>Select Student</option>
      	</select>
	</div>
</div>
<div class="table-responsive presentdiv" hidden='true'>
	<table id="student_table" class="table table-striped table-bordered">
	<thead class="bg-primary">
	  <tr>
	    <th class="header" hidden='true'></th>
	    <th style="text-align:center" class="header">Was the student Present</th>
	    <th style="text-align:center" class="header">Remarks</th>
	  </tr>
	 </thead>
	 <tbody>
	  <tr>
	  	<td hidden="true"><input type='text' class='attendance_data'/></td>
	  	<td align="center"><input type='checkbox' class='is_present'/>
	  		<!-- <select class='form-control select is_present' id='is_present'>
      			<option data-id="No" value>No</option>
      			<option data-id="Yes" value>Yes</option>
      		</select> -->
      	</td>
	  	<td align="center"><input type='form-control' class='remarks'/></td>
	  </tr>
	 </tbody>
	</table>
</div>


<button type="button" class='submit btn btn-primary btn-xs' disabled="true" title="Click submit to record class atendance.">Submit</button>

<button type="button" class='reset btn btn-primary btn-xs'>Reset</button>


<script>
	redirect_url="{% url 'classadmin:attendance_view' %}"
	csrf_token='{{csrf_token}}';
</script>
{% endblock %}