{% extends "base.html" %}

{% load crispy_forms_tags %}

<!-- Pace JS, used for animating page load -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-center-circle.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>


{%block title%}
<title>Bulk Upload</title>
{% endblock %} 

{% block content%}
	<div>
		<div><h2>Bulk Upload Student List</h2></div>
		{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
		{% endif %}
		    {% crispy form form.helper %}
            {% csrf_token %}
            
	</div>
	<a href="{% url 'student:student_import_format' %}"><button type="button" class="btn btn-primary btn-xs submit">Download Excel Format</button></a>
	<div>
		<p></p>
		<p><b>Please note that the excel to be uploaded has to be filled in the format as given in the "Download Excel Format". </b></p>
		<p>Gender is M for Male, F for Female, and O for Others. Blood gorups are A+, B+,....and so on (as mentioned in excel).</p>
	</div>

{% endblock %}



