{% extends "genadmin/list_base.html" %}

{% block table %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="account">
      <thead class="thead-inverse header-background">
        {% block table_header %}
          <tr>
            <th class="text-center">Date</th>
            <th class="text-center">Event Name</th>
            <th class="text-center">Event Type</th>
          </tr>
          {% endblock %}
        </thead>
        <tbody>
          {% for item in items %}
            <tr align="center">
              <td><a href="#">{{item.date|date:"d-m-Y"}}</a></td>
              <td>{{item.event}}</td>
              {% if item.event_type == 1 %}
              <td>Holiday</td>
              {% elif item.event_type == 2 %}
              <td>Exam</td>
              {% elif item.event_type == 3 %}
              <td>Exception to Holiday Rule</td>
              {% elif item.event_type == 4 %}
              <td>Other Event</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table> 
    </div>
{% endblock %}



