{% extends "base.html" %}

{% load crispy_forms_tags %}


{%block title%}
<title>Add New Details</title>
{% endblock %} 

{% block content%}
	<div>
		{% if editable %}
		<div> <h2> {{item.name}} </h2></div>
		{% else %}
			{% if item != 'class_group' %}
				<div><h2>Add New {{item}}</h2></div>
			{% else %}	
				<div><h2>Add New Class Group</h2></div>
			{% endif %}
		{%endif%}		
			<!--<form method="POST">
				{% csrf_token %}-->
				{% crispy form form.helper %}
			<!--	<button type="submit">Save</button>
			</form> -->		
	</div>

<!--<script>
	
</script>
-->
{% endblock %}



