<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  
  <title>Login to Tech Assisto</title>

  {% load static from staticfiles %}

  <link type ="image/x-icon" href= "{% static 'img/Logo_Favicon.ico' %}" rel="icon">
  <link rel="stylesheet" href="{% static 'login_style.css' %}">

  
</head>

<body>
  <div class="wrapper fadeInDown">
  <h2>If you don't have an account and want to register your business, <a href='{% url 'register' %}'> please click here </a></h2>
  <br>
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Log In </h2>
    <!-- <h2 class="inactive underlineHover">Regist </h2> -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'img/login_img.svg' %}"  id="icon" alt="User Icon" />
    </div>

    {% if form.errors %}
      <h2 style="color:#843e3e;">Please enter a correct username and password. Note that both fields may be case-sensitive.</h2>
    {% endif %}

    <!-- Login Form -->
    <form action="{% url 'login' %}" class='getin' method="post" autocomplete="off" >
      <input type="text" id="login" class="fadeIn second user_pass" name="username" placeholder="Username" required>
      <input type="password" id="password" class="fadeIn third user_pass" name="password" placeholder="Password" required>
      {% csrf_token %}
      <input type="submit" class="fadeIn fourth" value="Log In">
      <input type="hidden" name="next" value="{% url "landing" %}" />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'password_reset' %}">Forgot Password?</a>
    </div>

  </div>
</div>
  

</body>

</html>
