{% extends "landingbase.html" %}
{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block title %}
<title>
    Reset Password 
</title>

{% endblock %}

{% block content %}
	<div class="row">
		<div class="login-form col-md-6">
		    <h1>Forgotten your password?</h1>
		    <p>Enter your username and e-mail address to obtain a new password.</p>
		    
		    {% crispy form form.helper %}
	    </div>
	    <div class="login-form col-md-6">
	    	<p><img src="{% static 'gif/forgot.gif' %}" alt="Forgot Password"></p>
	    </div>
    </div>
    <div class="row">
    	<p>Came here by mistake? You can <a href="{% url 'login' %}" style="color:#6bd4fa;">clicke here</a> to return.</p>
    </div>

{% endblock %}
